@require "../settings.styl";

$tooltip-background-color ?= $basic-color-alt;
$tooltip-color ?= $basic-color;
$tooltip-spacing ?= 5px;
$tooltip-padding ?= 5px 10px;
$tooltip-line-height ?= normal;
$tooltip-font-size ?= medium;
$tooltip-font-weight ?= normal;
$tooltip-border-radius ?= 3px;
$tooltip-zindex ?= 1;

$tooltip-info-background-color ?= $info-color;
$tooltip-info-color ?= $info-color-alt;

$tooltip-success-background-color ?= $success-color;
$tooltip-success-color ?= $success-color-alt;

$tooltip-warning-background-color ?= $warning-color;
$tooltip-warning-color ?= $warning-color-alt;

$tooltip-danger-background-color ?= $danger-color;
$tooltip-danger-color ?= $danger-color-alt;
