@require 'grid-settings.styl';

container(sizes...)
    margin: 0 auto;
    padding: 0;
    border: 0;

    @media only screen and (max-width: sizes[0] - 1) {
        width: 100%;
    }

    for size in sizes
        @media only screen and (min-width: size) {
            width: size;
        }

container-fluid() {
    width: 100%;
}

row($min-width) {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $min-width) {
        flex-direction: row;
    }
}

flex-column($span, $total, $min-width) {
    flex: 0 0 100%;

    @media only screen and (min-width: $min-width) {
        flex: 0 0 ((100% * $span)/ $total);
    }
}

flex-offset($span, $total, $min-width) {
    margin-left: 0;

    @media only screen and (min-width: $min-width) {
        margin-left: ((100% * $span) / $total);
    }
}

flex-grid($columns, $min-width)
    for $span in (1..$columns)
        & > .col-{$span}
            flex-column($span, $columns, $min-width)
        & > .offset-{$span}
            flex-offset($span, $columns, $min-width)

.container
    container($size0, $size1, $size2)

.container-fluid
    container-fluid()

.row
    row($size0)

.grid > .row > .col,
.grid-12 > .row > .col
    flex-grow: 1;

.grid-12 > .row
    flex-grid(12, $size0)
