@require 'grid-settings.styl';

container(sizes...)
    margin: 0 auto;
    padding: 0;
    border: 0;

    @media only screen and (max-width: sizes[0] - 1) {
        width: 100%;
    }

    for size in sizes
        @media only screen and (min-width: size) {
            width: "calc(%s - var(--scrollbar-width))" % size;
        }

container-fluid() {
    width: 100%;
}

row($min-width = false) {
    display: flex;

    if $min-width {
        flex-direction: column;

        @media only screen and (min-width: $min-width) {
            flex-direction: row;
        }
    } else {
        flex-direction: row;
    }
}

row-reverse($min-width = false) {
    display: flex;

    if $min-width {
        flex-direction: column;

        @media only screen and (min-width: $min-width) {
            flex-direction: row-reverse;
        }
    } else {
        flex-direction: row-reverse;
    }
}

flex-column($span, $total, $min-width) {
    if $min-width {
        flex: 0 0 100%;

        @media only screen and (min-width: $min-width) {
            flex: 0 0 ((100% * $span)/ $total);
        }
    } else {
        flex: 0 0 ((100% * $span)/ $total);
    }
}

flex-offset($span, $total, $min-width) {
    if $min-width {
        margin-left: 0;

        @media only screen and (min-width: $min-width) {
            margin-left: ((100% * $span) / $total);
        }
    } else {
        margin-left: ((100% * $span) / $total);
    }
}

flex-grid($columns, $min-width = false)
    & > .row
        row($min-width)

    & > .row-reverse
        row-reverse($min-width)

    & > .row,
    & > .row-reverse
        & > .col
            flex-grow: 1;

        for $span in (1..$columns)
            & > .col-{$span}
                flex-column($span, $columns, $min-width)
            & > .offset-{$span}
                flex-offset($span, $columns, $min-width)

.grid-space
    & > .row,
    & > .row-reverse
        .col,
        [class^=col-]
            padding: $grid-spacing

.container
    container($size-sm, $size-md, $size-lg, $size-xl)

.container-fluid
    container-fluid()

.grid-12,
.grid-xs-12
    flex-grid(12)

.grid-sm-12
    flex-grid(12, $size-sm)

.grid-md-12
    flex-grid(12, $size-md)

.grid-lg-12
    flex-grid(12, $size-lg);

.grid-xl-12
    flex-grid(12, $size-xl);
