@require "sidebar-settings.styl";
.navigation-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex: 1 1 auto;
}
.sidebar {
    margin: 0;
    padding: 10px;
    border: 1px solid #000;
    transition: width 0.3s;
    overflow: hidden;
    background-color: #aaa;
    &.sidebar-left {
        left: 0;
        width: 50px;
        &:hover {
            width: 200px;
        }
    }
    & > ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 200px;
    }
}
