@require "../settings.styl";
$progress-bar-margin ?= $default-margin;
$progress-bar-height ?= 20px;
$progress-bar-background-color ?= $default-foreground-background-color;
$progress-bar-border-width ?= $default-border-width;
$progress-bar-border-color ?= $default-border-color;
$progress-bar-border-radius ?= $progress-bar-height / 2; //$default-border-radius;
$progress-bar-transition-duration ?= 0.5s;
$progress-bar-default-background-color ?= $primary-color;
$progress-bar-default-color ?= $primary-color-alt;
$progress-bar-success-background-color ?= $success-color;
$progress-bar-success-color ?= $success-color-alt;
$progress-bar-info-background-color ?= $info-color;
$progress-bar-info-color ?= $info-color-alt;
$progress-bar-warning-background-color ?= $warning-color;
$progress-bar-warning-color ?= $warning-color-alt;
$progress-bar-danger-background-color ?= $danger-color;
$progress-bar-danger-color ?= $danger-color-alt;