.floatable {
    --floatable-offset-x: 0px;
    --floatable-offset-y: 0px;
    --floatable-blur-radius: 0;
    --floatable-spread-radius: 0;
    --floatable-color: #000000;
    box-shadow: var(--floatable-offset-x) var(--floatable-offset-y) var(--floatable-blur-radius) var(--floatable-spread-radius) var(--floatable-color);
}