.scrollable
    -webkit-overflow-scrolling: touch;

    &:not([data-scroll])
    &[data-scroll="auto"]
        overflow: auto

    &[data-scroll="both"]
        overflow: scroll

    &[data-scroll="none"]
        overflow: hidden

    &[data-scroll="x"]
        overflow-x: auto
        overflow-y: hidden

    &[data-scroll="y"]
        overflow-x: hidden
        overflow-y: auto

    &[data-scroll="x-always"]
        overflow-x: scroll
        overflow-y: hidden

    &[data-scroll="y-always"]
        overflow-x: hidden
        overflow-y: scroll

    &[data-scroll="x-never"]
        overflow-x: hidden

    &[data-scroll="y-never"]
        overflow-y: hidden

.scrollable-y
    overflow-y: auto

.scrollable-x
    overflow-x: auto
