@require "../settings.styl";

$thumbnail-background-color ?= #f00;
$thumbnail-border-color ?= #000;
$thumbnail-border-width ?= 0;
$thumbnail-color ?= $white;
$thumbnail-font-size ?= inherit;
$thumbnail-font-weight ?= bold;
$thumbnail-user-small-height ?= 40px;
$thumbnail-user-medium-height ?= 70px;
$thumbnail-user-large-height ?= 120px;
$thumbnail-type-0-color ?= white;
$thumbnail-type-0-background-color ?= $red;
$thumbnail-type-1-color ?= $white;
$thumbnail-type-1-background-color ?= $purple;
$thumbnail-type-2-color ?= $white;
$thumbnail-type-2-background-color ?= $green;
$thumbnail-type-3-color ?= $white;
$thumbnail-type-3-background-color ?= $fuchsia;