@require "thumbnail-settings.styl";

$thumbnail-background-color = #f00;
$thumbnail-border-color = #000;
$thumbnail-border-width = 0;
$thumbnail-color = white;
$thumbnail-font-size = inherit;
$thumbnail-font-weight = bold;
$thumbnail-user-small-height = 40px;
$thumbnail-user-medium-height = 70px;
$thumbnail-user-large-height = 120px;
$thumbnail-type-0-color = white;
$thumbnail-type-0-background-color = #f00;
$thumbnail-type-1-color = white;
$thumbnail-type-1-background-color = #a0a;
$thumbnail-type-2-color = white;
$thumbnail-type-2-background-color = #aa0;
$thumbnail-type-3-color = white;
$thumbnail-type-3-background-color = #faa;

.thumbnail {
    display: inline-block;
    background-color: $thumbnail-background-color;
    border: $thumbnail-border-width solid $thumbnail-border-color;
    color: $thumbnail-color;
    font-size: $thumbnail-font-size;
    font-weight: $thumbnail-font-weight;
    &.thumbnail-user-small {
        text-align: center;
        height: $thumbnail-user-small-height;
        width: $thumbnail-user-small-height;
        border-radius: ($thumbnail-user-small-height / 2);
    }
    &.thumbnail-user,
    &.thumbnail-user-medium {
        text-align: center;
        height: $thumbnail-user-medium-height;
        width: $thumbnail-user-medium-height;
        border-radius: ($thumbnail-user-medium-height / 2);
    }
    &.thumbnail-user-large {
        text-align: center;
        height: $thumbnail-user-large-height;
        width: $thumbnail-user-large-height;
        border-radius: ($thumbnail-user-large-height / 2);
    }
    &.thumbnail-type-0 {
        color: $thumbnail-type-0-color;
        background-color: $thumbnail-type-0-background-color;
    }
    &.thumbnail-type-1 {
        color: $thumbnail-type-1-color;
        background-color: $thumbnail-type-1-background-color;
    }
    &.thumbnail-type-2 {
        color: $thumbnail-type-2-color;
        background-color: $thumbnail-type-2-background-color;
    }
    &.thumbnail-type-3 {
        color: $thumbnail-type-3-color;
        background-color: $thumbnail-type-3-background-color;
    }
}