@require "../settings.styl";

$popover-spacing ?= 7px;
$popover-padding ?= $default-padding;
$popover-border-width ?= $default-border-width;
$popover-border-color ?= $default-border-color;
$popover-border-radius ?= $default-border-radius;
$popover-background-color ?= $default-background-color;
$popover-color ?= $default-color;
$popover-box-shadow-x ?= 2px;
$popover-box-shadow-y ?= 2px;
$popover-box-shadow-additional ?= 5px 0 rgba(0, 0, 0, 0.3);