@require "list-settings.styl";

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & > * {
        border-bottom: $list-border-width solid $list-border-color;
        padding: 10px;
        margin: 0;
        background-color: white;

        &:last-child {
            border-bottom: none;
        }
    }
}