<div class="form-group">
    <label class="form-title">
        Calendar
    </label>
    <div class="form-control">
        <div class="button-group fill-width popover-trigger">
            <input type="text" class="input fill-width" />
            <a class="button" data-theme="primary">
                <div class="popover popover-space popover-bottom popover-align-right popover-fill">
                    <div class="popover-content">
                        <div class="calendar">
                            <div class="calendar-title">
                                <div class="button-group">
                                    <button class="button">-</button>
                                    <select class="input" style="flex-grow: 1;">
                                        <option value="2018">2018</option>
                                    </select>
                                    <button class="button">+</button>
                                </div>
                                <div class="button-group">
                                    <button class="button">-</button>
                                    <select class="input" style="flex-grow: 1;">
                                        <option value="February">February</option>
                                    </select>
                                    <button class="button">+</button>
                                </div>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>S</th>
                                        <th>M</th>
                                        <th>T</th>
                                        <th>W</th>
                                        <th>T</th>
                                        <th>F</th>
                                        <th>S</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td><a>1</a></td>
                                        <td><a>2</a></td>
                                        <td><a>3</a></td>
                                    </tr>
                                    <tr>
                                        <td><a>4</a></td>
                                        <td><a class="calendar-day-selected">5</a></td>
                                        <td><a>6</a></td>
                                        <td><a class="calendar-day-current">7</a></td>
                                        <td><a>8</a></td>
                                        <td><a>9</a></td>
                                        <td><a>10</a></td>
                                    </tr>
                                    <tr>
                                        <td><a>11</a></td>
                                        <td><a>12</a></td>
                                        <td><a>13</a></td>
                                        <td><a>14</a></td>
                                        <td><a>15</a></td>
                                        <td><a>16</a></td>
                                        <td><a>17</a></td>
                                    </tr>
                                    <tr>
                                        <td><a>18</a></td>
                                        <td><a>19</a></td>
                                        <td><a>20</a></td>
                                        <td><a>21</a></td>
                                        <td><a>22</a></td>
                                        <td><a>23</a></td>
                                        <td><a>24</a></td>
                                    </tr>
                                    <tr>
                                        <td><a>25</a></td>
                                        <td><a>26</a></td>
                                        <td><a>27</a></td>
                                        <td><a>28</a></td>
                                        <td colspan="3"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                Calendar
            </a>
        </div>
    </div>
</div>