<div id="forms" class="layout-section animatable" data-animation="fade-top" data-direction="in">
    {{#> button}}{{/button}}
    {{#> input}}{{/input}}
    {{#> search}}{{/search}}
    {{#> form}}{{/form}}
</div>