<section class="section">
    <header class="section-title">Search</header>
    <div class="section-content">
        <div class="form form-md">
            <div class="action-bar">
                <button class="button button-primary" id="clickOpenSearch">Open Search</button>
            </div>
            <div class="form-group">
                <label class="form-title">
                    Search
                </label>
                <div class="form-control">
                    <div class="search" id="search">
                        <div class="button-group">
                            <input class="input search-input fill-width">
                            <button class="button search-button">Search</button>
                        </div>
                        <div class="search-option-box">
                            <ul role="listbox" class="search-option-list">
                                <li class="search-option" role="presentation" tabindex="0">
                                    <div class="search-option-action" role="option">
                                        <div class="search-option-action-text">
                                            <span><b>Search Option</b></span>
                                        </div>
                                    </div>
                                    <div class="search-option-alt-action">
                                        <div class="search-option-alt-action-text">Alt Action</div>
                                    </div>
                                </li>
                                <li class="search-option" role="presentation" tabindex="0">
                                    <div class="search-option-action" role="option">
                                        <div class="search-option-action-text">
                                            <span><b>Search Option</b></span>
                                        </div>
                                    </div>
                                    <div class="search-option-alt-action">
                                        <div class="search-option-alt-action-text">Alt Action</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>