@require "../settings.styl";

$file-upload-border-width ?= 2px;//$default-border-width;
$file-upload-border-color ?= $default-border-color;
$file-upload-border-radius ?= $default-border-radius;
$file-upload-margin ?= $default-margin;
$file-upload-padding ?= $default-padding;
$file-upload-color ?= #555;
$file-upload-hover-background-color ?= #ddd;
$file-upload-dragging-background-color ?= #aaa;
$file-upload-uploading-background-color ?= #999;