# Dependency directory
node_modules/
bower_components/

# Documentation directory
docs/

# Source directory
test/

# Build directory
dist/main.js

# Sourcemap, log, packed files
*.map
*.log
*.tgz
artistry-*

# Ignore files
.gitignore
.npmignore

# Build configuration files
tsconfig.json
webpack.config.js
webpack.dev.config.js
.travis.yml
bower.json

# Editor configuration files
.vscode/

# MkDocs files
site
