# Dependency directory
node_modules/

# Documentation directory
docs/

# Source directory
test/

# Build directory
build/
dist/bundle/
dist/tests/
dist/mocha/

# Sourcemap, log, packed files
*.map
*.log
*.tgz
artistry-*
react-*

# Ignore files
.gitignore
.npmignore

# Build configuration files
tsconfig.json
webpack.config.js
webpack.dev.config.js
postcss.config.js
styleconfig.json
.travis.yml

# Editor configuration files
.vscode/

# MkDocs files
site
