        <div id="widgets" class="layout-section animatable" data-animation="fade-top" data-direction="in">
            <h2>Widgets</h2>
            {{#> information}}{{/information}}
            {{#> containers}}{{/containers}}
            {{#> card}}{{/card}}
            {{#> widgets}}{{/widgets}}
            {{#> scroll-carousel}}{{/scroll-carousel}}
        </div>