<section class="section">
    <header class="section-title">Information</header>
    <div class="section-content section-content-space">
        <h3>Progress Bar</h3>

        <h4>Using aria-valuetext</h4>
        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
            aria-valuetext="50%" style="--progress-bar-progress: 50%;">
        </div>

        <h4>Using content</h4>
        <div class="progress-bar progress-bar-content" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
            style="--progress-bar-progress: 50%;">
            <div>50%</div>
        </div>

        <h4>Default Progress Bar</h4>
        <progress max="100" value="50"> 50% </progress>

        <h3>Tooltip</h3>
        <button class="button tooltip tooltip-right tooltip-open" aria-label="Tooltip text">Tooltip</button>

        <h3>Popover</h3>
        <button class="button popover-trigger">
            <div class="popover popover-right popover-align-center popover-space popover-open">
                <div class="popover-content">Popover text</div>
            </div>
            Popover
        </button>

        <h3>Popover Menu</h3>
        <a href="#" class="button popover-trigger popover-closed" id="clickShowPopoverMenu">
            <div class="popover-mask"></div>
            <div class="popover popover-right popover-align-center popover-space">
                <div class="popover-content">Popover text</div>
            </div>
            Popover
        </a>

        <h3>Notification</h3>
        <aside class="notification clickable">
            <header>Notification</header>
            <div class="notification-content">
                Notification content
            </div>
        </aside>
        <aside class="notification clickable" data-theme="success">
            <header>Success</header>
            <div class="notification-content">
                Success content
            </div>
        </aside>
        <aside class="notification clickable" data-theme="info">
            <header>Information</header>
            <div class="notification-content">
                Information content
            </div>
        </aside>
        <aside class="notification clickable" data-theme="warning">
            <header>Warning</header>
            <div class="notification-content">
                Warning content
            </div>
        </aside>
        <aside class="notification clickable" data-theme="danger">
            <header>Danger</header>
            <div class="notification-content">
                Danger content
            </div>
        </aside>
        <button id="clickShowNotifications" class=button>Show Notifications</button>
        <div class="notification-container hidden">
            <aside class="notification clickable" data-theme="success">
                <header>Success</header>
                <div class="notification-content">
                    Success content
                </div>
            </aside>
        </div>

        <h1>Badge</h1>

        <span class="badge">1</span>
    </div>
</section>