<div class="scroll-carousel-frame">
    <div class="scroll-carousel">
        <ul class="scroll">
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Cute_grey_kitten.jpg/1280px-Cute_grey_kitten.jpg"
                        alt="Picture of a gray kitten looking at the camera" />
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/06/Kitten_in_Rizal_Park%2C_Manila.jpg"
                        alt="Picture of a gray kitten looking at a branch" />
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Red_Kitten_01.jpg/1280px-Red_Kitten_01.jpg"
                        alt="Picture of an orange kitten looking at the camera" />
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Youngkitten.JPG/1280px-Youngkitten.JPG"
                        alt="Picture of a young kitten opening its eyes" />
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Youngkitten.JPG/1280px-Youngkitten.JPG"
                        alt="Picture of a young kitten opening its eyes" />
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Youngkitten.JPG/1280px-Youngkitten.JPG"
                        alt="Picture of a young kitten opening its eyes" />
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Youngkitten.JPG/1280px-Youngkitten.JPG"
                        alt="Picture of a young kitten opening its eyes" />
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Youngkitten.JPG/1280px-Youngkitten.JPG"
                        alt="Picture of a young kitten opening its eyes" />
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Youngkitten.JPG/1280px-Youngkitten.JPG"
                        alt="Picture of a young kitten opening its eyes" />
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Youngkitten.JPG/1280px-Youngkitten.JPG"
                        alt="Picture of a young kitten opening its eyes" />
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Youngkitten.JPG/1280px-Youngkitten.JPG"
                        alt="Picture of a young kitten opening its eyes" />
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="scroll-carousel-frame">
    <div class="scroll-carousel">
        <ul class="scroll">
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <section class="card" data-closed="false">
                        <header>Card Header</header>
                        <div class="card-content space">
                            <section class="card-section card-section-multi-column">
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                            </section>
                        </div>
                        <div class="action-bar" data-size="small">
                            <button class="button button-textonly">Cancel</button>
                            <button class="button button-textonly button-primary">OK</button>
                        </div>
                    </section>
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <section class="card" data-closed="false">
                        <header>Card Header</header>
                        <div class="card-content space">
                            <section class="card-section card-section-multi-column">
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                            </section>
                        </div>
                        <div class="action-bar" data-size="small">
                            <button class="button button-textonly">Cancel</button>
                            <button class="button button-textonly button-primary">OK</button>
                        </div>
                    </section>
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <section class="card" data-closed="false">
                        <header>Card Header</header>
                        <div class="card-content space">
                            <section class="card-section card-section-multi-column">
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                            </section>
                        </div>
                        <div class="action-bar" data-size="small">
                            <button class="button button-textonly">Cancel</button>
                            <button class="button button-textonly button-primary">OK</button>
                        </div>
                    </section>
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <section class="card" data-closed="false">
                        <header>Card Header</header>
                        <div class="card-content space">
                            <section class="card-section card-section-multi-column">
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                            </section>
                        </div>
                        <div class="action-bar" data-size="small">
                            <button class="button button-textonly">Cancel</button>
                            <button class="button button-textonly button-primary">OK</button>
                        </div>
                    </section>
                </div>
            </li>
            <li class="scroll-item-outer">
                <div class="scroll-item">
                    <section class="card" data-closed="false">
                        <header>Card Header</header>
                        <div class="card-content space">
                            <section class="card-section card-section-multi-column">
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                                <div class="card-control">
                                    <label class="card-control-title">Label</label>
                                    <div class="card-control-data">Data</div>
                                </div>
                            </section>
                        </div>
                        <div class="action-bar" data-size="small">
                            <button class="button button-textonly">Cancel</button>
                            <button class="button button-textonly button-primary">OK</button>
                        </div>
                    </section>
                </div>
            </li>
        </ul>
    </div>
</div>