<section class="section">
    <header class="section-title">Tools</header>
    <div class="section-content section-content-space">
        <h3>Code</h3>
        <pre class="code">
            <code>window.onload = function () {</code>
            <code> console.log('loaded');</code>
            <code>};</code>
        </pre>
    </div>
</section>