.align-start {
    text-align: start;
}
.align-end {
    text-align: end;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.align-justify {
    text-align: justify;
}
.align-initial {
    text-align: initial;
}
.align-inherit {
    text-align: inherit;
}