.align-start {
    text-align: start;
}
.align-end {
    text-align: end;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.align-justify {
    text-align: justify;
}
.align-initial {
    text-align: initial;
}
.align-inherit {
    text-align: inherit;
}

/* Keyword values */
.flex-align-auto {
    align-self: auto;
}
.flex-align-normal {
    align-self: normal;
}
/* Global values */ 
.flex-align-normal {
    align-self: inherit;
}
.flex-align-normal {
    align-self: initial;
}
.flex-align-normal {
    align-self: unset;
}
/* Positional alignment */ 
.flex-align-center {
    align-self: center;
}
.flex-align-start {
    align-self: start;
}
.flex-align-end {
    align-self: end;
}
.flex-align-self-start {
    align-self: self-start;
}
.flex-align-self-end {
    align-self: self-end;
}
.flex-align-flex-start {
    align-self: flex-start;
}
.flex-align-flex-end {
    align-self: flex-end;
}
/* Baseline alignment */ 
.flex-align-baseline {
    align-self: baseline; 
}
.flex-align-first-baseline {
    align-self: first baseline; 
}
.flex-align-last-baseline {
    align-self: last baseline; 
}
.flex-align-stretch {
    align-self: stretch;
}
/* Overflow alignment */
.flex-align-safe-center {
    align-self: safe center; 
}
.flex-align-unsafe-center {
    align-self: unsafe center; 
}