.layout
    height: 100vh;

    .layout-header
        position: static;

    .layout-footer
        position: static;

    .layout-inner
        display: flex;
        height: 100vh;
        flex-direction: column;

        .layout-header
            position: sticky;
            top: 0;
            z-index: 1;

        .layout-body
            flex-grow: 1;

        .layout-footer
            position: sticky;
            bottom: 0;
            z-index: 1;
