@require "../settings.styl";
.hidden {
    display: none !important;
}
.hidden-soft {
    position: absolute !important;
    overflow: hidden;
    top: -9999px !important;
    left: -9999px !important;
    visibility: hidden;
    height: 0;
    width: 0;
}
.hidden-visually {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.show-block {
    display: block !important;
}
clearfix() {
    &:after {
        display: table;
        content: '';
        clear: both;
    }
}
.clearfix {
    clearfix();
}
pull-left() {
    float: left;
}
.pull-left {
    pull-left();
}
pull-right() {
    float: right;
}
.pull-right {
    pull-right();
}
relative() {
    position: relative;
}
.relative {
    relative();
}
.body-scroll-lock {
    @media only screen and (min-width: $size0) {
        overflow-y: scroll;
    }
    & > .root {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
}
