@require "../settings.styl";

.space,
.space-margin {
    margin: $default-spacing;
}

.space-width,
.space-margin-width {
    margin-left: $default-spacing;
    margin-right: $default-spacing;
}

.space-height,
.space-margin-height {
    margin-top: $default-spacing;
    margin-bottom: $default-spacing;
}

.space-padding {
    padding: $default-spacing;
}

.space-padding-width {
    padding-left: $default-spacing;
    padding-right: $default-spacing;
}

.space-padding-height {
    padding-top: $default-spacing;
    padding-bottom: $default-spacing;
}

.vacuum,
.vacuum-margin {
    margin: 0;
}

.vacuum-width,
.vacuum-margin-width {
    margin-left: 0;
    margin-right: 0;
}

.vacuum-height,
.vacuum-margin-height {
    margin-top: 0;
    margin-bottom: 0;
}

.vacuum-padding {
    padding: 0;
}

.vacuum-margin-width {
    padding-left: 0;
    padding-right: 0;
}

.vacuum-margin-height {
    padding-top: 0;
    padding-bottom: 0;
}

.explode {
    margin: - $default-spacing;
}

.explode-width {
    margin-left: - $default-spacing;
    margin-right: - $default-spacing;
}

.explode-height {
    margin-top: - $default-spacing;
    margin-bottom: - $default-spacing;
}
