@require "carousel-settings.styl";
.carousel {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: height 0.5s;
    &:after {
        display: table;
        content: '';
        clear: both;
    }
    & > div {
        display: block;
        position: absolute;
        padding: 0;
        margin: 0;
        min-height: $carousel-min-height;
        right: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.5s;
        visibility: hidden;
        &.carousel-selected {
            transform: translateX(0);
            position: relative;
            visibility: visible;
        }
        &.carousel-selected ~ div {
            transform: translateX(100%);
        }
    }
    & > div.carousel-selected.carousel-selecting, 
    &.carousel-run > div {
        visibility: visible;
        &.carousel-selected {
            position: absolute;
            z-index: 1;
        }
    }
}
