@require "carousel-settings.styl";
.carousel {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: height 0.5s;
    &:after {
        display: table;
        content: '';
        clear: both;
    }
    & > div {
        display: block;
        position: absolute;
        padding: 0;
        margin: 0;
        min-height: $carousel-min-height;
        right: 0;
        left: 0;
        transition: transform 0.5s;
        transform: translateX(-100%);
        visibility: hidden;
        &.carousel-selected {
            transform: translateX(0);
            position: relative;
            visibility: visible;
        }
        &.carousel-selected ~ div {
            transform: translateX(100%);
        }
    }
    & > div.carousel-selected.carousel-selecting, 
    &.carousel-run > div {
        visibility: visible;
        &.carousel-selected {
            position: absolute;
            z-index: 1;
        }
    }
    &.carousel-animate-none {
        transition: none;
        & > div {
            transition: none;
        }
    }
    &.carousel-animate-slide {
        & > div {
            transition: transform 0.5s;
        }
    }
    &.carousel-animate-fade {
        & > div {
            transition: opacity 0.5s;
            opacity: 0;
            &.carousel-selected {
                opacity: 1;
            }
        }
    }
}
