@require "badge-settings.styl";

.badge {
    display: inline-block;
    text-align: center;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.15em;
    height: 1.15em;
    width: 1.15em;
    border: 1px solid blue;
    border-radius: (1.15em / 2);
}