@require "../settings.styl";
$notification-width ?= 300px;
$notification-border-width ?= $default-border-width;
$notification-border-color ?= $default-border-color;
$notification-border-radius ?= $default-border-radius;
$notification-padding ?= $default-padding;
$notification-margin ?= $default-margin-layout;
$notification-background-color ?= $default-background-color;
$notification-color ?= $default-color;
$notification-box-shadow ?= $box-shadow-height-1;
$notification-success-background-color ?= $success-color;
$notification-success-color ?= $success-color-alt;
$notification-info-background-color ?= $info-color;
$notification-info-color ?= $info-color-alt;
$notification-warning-background-color ?= $warning-color;
$notification-warning-color ?= $warning-color-alt;
$notification-danger-background-color ?= $danger-color;
$notification-danger-color ?= $danger-color-alt;

:root {
    //--notification-width: $notification-width;
    //--notification-border-width: $notification-border-width;
    //--notification-border-color: $notification-border-color;
    //--notification-border-radius: $notification-border-radius;
    //--notification-padding: $notification-padding;
    //--notification-margin: $notification-margin;
    --notification-background-color: $notification-background-color;
    --notification-color: $notification-color;
    //--notification-box-shadow: $notification-box-shadow;
    --notification-success-background-color: $notification-success-background-color;
    --notification-success-color: $notification-success-color;
    --notification-info-background-color: $notification-info-background-color;
    --notification-info-color: $notification-info-color;
    --notification-warning-background-color: $notification-warning-background-color;
    --notification-warning-color: $notification-warning-color;
    --notification-danger-background-color: $notification-danger-background-color;
    --notification-danger-color: $notification-danger-color;
}