@require "notification-settings.styl";
.notification-container {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    right: 0;
    bottom: 0;
    width: $notification-width;
    z-index: 100;
    &.notification-top {
        top: $notification-margin;
        bottom: auto;
    }
    &.notification-right {
        right: $notification-margin;
        left: auto;
    }
    &.notification-bottom {
        top: auto;
        bottom: $notification-margin;
    }
    &.notification-left {
        right: auto;
        left: $notification-margin;
    }
    &.notification-center-vertical {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }
    &.notification-center-horizontal {
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .notification {
        margin: $notification-margin;
    }
}
.notification {
    display: block;
    margin: $notification-margin 0;
    padding: $notification-padding;
    border: $notification-border-width solid $notification-border-color;
    border-radius: $notification-border-radius;
    background-color: $notification-background-color;
    color: $notification-color;
    box-shadow: $notification-box-shadow;
    &.notification-success {
        background-color: $notification-success-background-color;
        color: $notification-success-color;
    }
    &.notification-info {
        background-color: $notification-info-background-color;
        color: $notification-info-color;
    }
    &.notification-warning {
        background-color: $notification-warning-background-color;
        color: $notification-warning-color;
    }
    &.notification-danger {
        background-color: $notification-danger-background-color;
        color: $notification-danger-color;
    }
    & > header {
        font-weight: bold;
    }
}
