@require "../settings.styl";
$breadcrumb-padding ?= $default-padding;
$breadcrumb-line-height ?= 30px;
$breadcrumb-border-width ?= $default-border-width;
$breadcrumb-border-color ?= $default-border-color;
$breadcrumb-border-radius ?= $default-border-radius;
$breadcrumb-background-color ?= $default-background-color;
$breadcrumb-hover-background-color ?= gray;
$breadcrumb-font-weight ?= bold;
