@require "../settings.styl";
$fieldset-padding ?= $default-padding;
$fieldset-border-width ?= $default-border-width;
$fieldset-border-color ?= $default-border-color;
$fieldset-border-radius ?= $default-border-radius;
$fieldset-header-font-weight ?= bold;
