@require "fieldset-settings.styl";
fieldset.fieldset {
    border: $fieldset-border-width solid $fieldset-border-color;
    border-radius: $fieldset-border-radius;
    padding: $fieldset-padding;
    legend {
        font-weight: $fieldset-header-font-weight;
        padding: $fieldset-padding;
    }
}
