@keyframes overflow-x-scroll {
    from {
        overflow-x: hidden;
    }
    to {
        overflow-x: hidden;
    }
}

@keyframes overflow-y-scroll {
    from {
        overflow-y: hidden;
    }
    to {
        overflow-y: hidden;
    }
}

@keyframes overflow-xy-scroll {
    from {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    to {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}