@keyframes overflow-x-hidden {
    from {
        overflow-x: hidden;
    }
    to {
        overflow-x: hidden;
    }
}

@keyframes overflow-y-hidden {
    from {
        overflow-y: hidden;
    }
    to {
        overflow-y: hidden;
    }
}

@keyframes overflow-xy-hidden {
    from {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    to {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}