@keyframes overflow-x-hidden {
    from {
        overflow-x: hidden;
    }
    to {
        overflow-x: hidden;
    }
}

@keyframes overflow-y-hidden {
    from {
        overflow-y: hidden;
    }
    to {
        overflow-y: hidden;
    }
}

@keyframes overflow-xy-hidden {
    from {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    to {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

@keyframes overflow-x-scroll {
    from {
        overflow-x: scroll;
    }
    to {
        overflow-x: scroll;
    }
}

@keyframes overflow-y-scroll {
    from {
        overflow-y: scroll;
    }
    to {
        overflow-y: scroll;
    }
}

@keyframes overflow-xy-scroll {
    from {
        overflow-x: scroll;
        overflow-y: scroll;
    }
    to {
        overflow-x: scroll;
        overflow-y: scroll;
    }
}

@keyframes position-absolute {
    from {
        position: absolute;
    }
    to {
        position: absolute;
    }
}

@keyframes position-fixed {
    from {
        position: fixed;
    }
    to {
        position: fixed;
    }
}