@import "../settings.less";
.hidden {
    display: none !important;
}
.hidden-soft {
    position: absolute !important;
    overflow: hidden;
    top: -9999px !important;
    left: -9999px !important;
    visibility: hidden;
    height: 0;
    width: 0;
}
.hidden-visually {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.show-block {
    display: block !important;
}
.clearfix {
    zoom: 1;
    &:after {
        display: table;
        content: '';
        clear: both;
    }
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
