@require "../settings.styl";
$drawer-background-color ?= $default-background-color;
$drawer-header-background-color ?= $default-header-background-color;
$drawer-border-radius ?= 0;
$drawer-border-width ?= $default-border-width;
$drawer-border-color ?= $default-border-color;
$drawer-mask-background-color ?= rgba(1, 1, 1, 0.5);
$drawer-box-shadow ?= 0 0 40px 20px rgba(0, 0, 0, 0.5);//$box-shadow-height-2;
$drawer-padding ?= $default-padding;
$drawer-z-index ?= 20;
$drawer-slide-buffer ?= 30px;
$drawer-slide-duration ?= 0.5s;
$drawer-fade-duration ?= 0.2s;
