@require "input-settings.styl";

.input,
.text, 
.password, 
.textarea {
    margin: $input-margin;
    padding: $input-padding;
    border-radius: $input-border-radius;
    border: $input-border-width solid $input-default-border-color;
    font-family: Arial;
    box-shadow: $input-box-shadow-height-0;
    &:focus {
        outline: none;
        border-color: $input-default-border-color-focus;
        box-shadow: $box-shadow-height-1;
    }
    &.input-fill {
        width: 100%;
    }
}
.label {
    font-weight: bold;
}
.select {
    margin: $input-margin;
    padding: $input-padding;
    border-radius: $input-border-radius;
    border: $input-border-width solid $input-default-border-color;
    font-family: Arial;
    overflow: auto;
    box-shadow: $input-box-shadow-height-0;
    &:focus {
        outline: none;
        border-color: $input-default-border-color-focus;
        box-shadow: $box-shadow-height-1;
    }
}
