@require "../settings.styl";
$input-padding ?= $default-padding;
$input-padding-small ?= $default-padding-small;
$input-padding-large ?= $default-padding-large;
$input-margin ?= $default-margin;
$input-border-width ?= $default-border-width;
$input-border-radius ?= $default-border-radius;
$input-box-shadow-height-0 ?= $box-shadow-height-0;//0 1px 5px 0 #333;
$input-box-shadow-height-1 ?= $box-shadow-height-1;//0 2px 10px 0 #333;
$input-color-variance ?= $darker / 2;
$input-font-size ?= $default-font-size;
$input-font-size-small ?= $default-font-size-small;
$input-font-size-large ?= $default-font-size-large;

$input-default-background-color ?= $widget-color;
$input-default-color ?= $widget-color-alt;
$input-default-border-color ?= $default-border-color;

$input-primary-background-color ?= $primary-color;
$input-primary-color ?= $primary-color-alt;
$input-primary-border-color ?= darken($primary-color, $input-color-variance);

$input-danger-background-color ?= $danger-color;
$input-danger-color ?= $danger-color-alt;
$input-danger-border-color ?= darken($danger-color, $input-color-variance);

$button-textonly-background-color ?= $widget-color;
$button-textonly-default-color ?= lighten($widget-color-alt, $input-color-variance);
$button-textonly-primary-color ?= lighten($primary-color, $input-color-variance);
$button-textonly-danger-color ?= lighten($danger-color, $input-color-variance);

$button-outline-border-color ?= lighten($widget-color-alt, $input-color-variance);
$button-outline-border-width ?= 1px;

$input-selected-background-color ?= darken($widget-color, $input-color-variance);
$input-selected-color ?= $widget-color-alt;
$input-selected-border-color ?= darken($default-border-color, $input-color-variance);

$input-default-border-color-focus ?= darken($default-border-color, $input-color-variance);
$input-focus-box-shadow ?= 0 0 6px 0 #003;
$input-disabled-opacity ?= 0.65;

$button-bar-margin ?= $default-padding;
$button-bar-margin-small ?= $default-padding-small;
$button-bar-margin-large ?= $default-padding-large;
$button-bar-background-color ?= $default-header-color;

$input-text-background-color ?= $default-background-color;
$input-text-color ?= $default-color;

$button-text-transform ?= uppercase;

$input-required-border-color ?= $red;

:root {
    // Colors
    --input-default-border-color: $input-default-border-color;
    --input-default-color: $input-default-color;
    --input-default-background-color: $input-default-background-color;

    --input-primary-border-color: $input-primary-border-color;
    --input-primary-color: $input-primary-color;
    --input-primary-background-color: $input-primary-background-color;

    --input-danger-border-color: $input-danger-border-color;
    --input-danger-color: $input-danger-color;
    --input-danger-background-color: $input-danger-background-color;

    // Button Colors
    --button-textonly-default-color: $button-textonly-default-color;
    --button-textonly-primary-color: $button-textonly-primary-color;
    --button-textonly-danger-color: $button-textonly-danger-color;

    --button-textonly-background-color: $button-textonly-background-color;
    --button-outline-border-color: $button-outline-border-color;

    // Color Focus
    --input-default-border-color-focus: $input-default-border-color-focus;

    // All
    --input-padding: $input-padding;
    --input-font-size: $input-font-size;

    --input-padding-small: $input-padding-small;
    --input-font-size-small: $input-font-size-small;
    --input-padding-large: $input-padding-large;
    --input-font-size-large: $input-font-size-large;

    // Button
    --input-color-variance: $input-color-variance;
    --input-brighter: brightness(calc(100% + var(--input-color-variance)));
    --input-darker: brightness(calc(100% - var(--input-color-variance)));
    --input-locked: contrast(40%) brightness(110%);
}