@require "../settings.styl";
$input-padding ?= $default-padding;
$input-padding-small ?= $default-padding-small;
$input-padding-large ?= $default-padding-large;
$input-margin ?= $default-margin;
$input-border-width ?= $default-border-width;
$input-border-radius ?= $default-border-radius;
$input-box-shadow-height-0 ?= $box-shadow-height-0;//0 1px 5px 0 #333;
$input-box-shadow-height-1 ?= $box-shadow-height-1;//0 2px 10px 0 #333;
$input-color-variance ?= $darker / 2;
$input-font-size ?= 0.9em;

$input-default-background-color ?= $widget-color;
$input-default-color ?= $widget-color-alt;
$input-default-border-color ?= $default-border-color;

$input-primary-background-color ?= $primary-color;
$input-primary-color ?= $primary-color-alt;
$input-primary-border-color ?= darken($primary-color, $input-color-variance);

$input-danger-background-color ?= $danger-color;
$input-danger-color ?= $danger-color-alt;
$input-danger-border-color ?= darken($danger-color, $input-color-variance);

$button-textonly-background-color ?= $widget-color;
$button-textonly-default-color ?= lighten($widget-color-alt, $input-color-variance);
$button-textonly-primary-color ?= lighten($primary-color, $input-color-variance);
$button-textonly-danger-color ?= lighten($danger-color, $input-color-variance);

$button-outline-border-color ?= lighten($widget-color-alt, $input-color-variance);
$button-outline-border-width ?= 1px;

$input-selected-background-color ?= darken($widget-color, $input-color-variance);
$input-selected-color ?= $widget-color-alt;
$input-selected-border-color ?= darken($default-border-color, $input-color-variance);

$input-default-border-color-focus ?= darken($default-border-color, $input-color-variance);
$input-focus-box-shadow ?= 0 0 6px 0 #003;
$input-disabled-opacity ?= 0.65;
$button-bar-margin ?= $default-padding;
$button-bar-background-color ?= $default-header-color;

$input-text-background-color ?= $white;
$input-text-color ?= $black;

$button-text-transform ?= uppercase;