@require "../settings.styl";
$form-spacing ?= $default-padding;
$form-boder-color ?= $default-border-color;
$form-label-width ?= 200px;
$form-actions-border-width ?= $default-border-width;
$form-actions-border-color ?= $default-border-color;
$form-actions-background-color ?= $default-header-color;
$form-actions-input-margin ?= $default-padding;
