@import "../settings.styl";
$form-label-columns ?= 2;
$form-input-columns ?= 3;
$form-padding ?= $default-padding;
$form-actions-border-width ?= $default-border-width;
$form-actions-border-color ?= $default-border-color;
$form-actions-background-color ?= $default-header-color;
$form-actions-input-margin ?= $default-padding;
