@require "form-settings.styl";

.form
    &.form-lock
        position: relative;

        & > .form-lock-screen
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 100;
            vertical-align: middle;
            text-align: center;


.form-text
    margin: $form-spacing;

.form-container
    margin: $form-spacing;

    .form-text
        display: block;
        margin: 0;
        padding: $form-spacing 0;
        clear: both;

    .form-label
        display: flex;
        flex-direction: row;
        align-items: center;

        .form-title
            margin: 0 $form-spacing;
            width: $form-label-width;
            font-weight: bold;
            text-align: end;

        .form-input
            flex-grow: 1;


.form-divider
    border-top: 1px solid $form-boder-color;

.form-action
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: $form-spacing ($form-spacing / 2);

    & > *
        margin: 0 ($form-spacing / 2);


footer > .form-action
    margin: 0 (-1 * ($form-spacing) / 2);

form-size($max-width)
    @media screen and (max-width: ($max-width - 1))
        .form-container

            &.form-container-stacked,
            &:not(.form-container-inline)
                .form-label
                    margin: $form-spacing 0;
                    flex-direction: column;
                    align-items: flex-start;

                    .form-title
                        margin: 0;
                        width: auto;
                        text-align: start;

                    .form-input
                        width: 100%;


            &.form-container-inline,
            &:not(.form-container-stacked)
                .form-label
                    .form-title
                        margin: 0;
                        text-align: start;

                    .form-input
                        margin: 0 $form-spacing;
                        text-align: start;
                        flex-grow: initial;


.form-sm
    form-size($size-sm)

.form-md
    form-size($size-md)

.form-lg
    form-size($size-lg)

.form-xl
    form-size($size-xl)