@require "../settings.styl";
$form-spacing ?= $default-padding;
$form-boder-color ?= #ccc;
$form-label-width ?= 200px;
$form-width ?= ($size0 - 1px);
$form-line-width ?= $form-width - (3 * $form-spacing);
$form-actions-border-width ?= $default-border-width;
$form-actions-border-color ?= $default-border-color;
$form-actions-background-color ?= $default-header-color;
$form-actions-input-margin ?= $default-padding;
