<section class="section">
    <header class="section-title">Abilities</header>
    <div class="section-content section-content-space">
        <h3>Maskable</h3>
        <div class="maskable"></div>

        <h3>Closeable</h3>
        <button class="button" id="clickCloseableToggle">Toggle</button>
        <div class="closeable" id="closeable">
            Multiple
            <br /> Lines of
            <br /> Content
        </div>

        <h3>Fillable</h3>
        <div class="fillable card-fillable" id="fillable">
            <div class="fillable-content">
                <div class="card fill">
                    <section class="card-content card-content-space">
                        Multiple
                        <br /> Lines of
                        <br /> Content
                    </section>
                    <nav class="align-end">
                        <button class="button" id="clickFillableToggle">Toggle</button>
                    </nav>
                </div>
            </div>
        </div>

        <h3>Floatable</h3>
        <div class="floatable">
            This is floatable
        </div>

        <h3>Scrollable</h3>
        <div class="scrollable" id="scrollable" data-scroll="y">
        </div>
    </div>
</section>