<h2>Animation</h2>
<section class="section">
    <header class="section-title">Animation</header>
    <div class="section-content clip-x">
        <div class="animatable" data-transition="fade-right" data-direction="in">Transitioned</div>
        <div class="animatable" data-animation="fade-top" data-direction="">Animated</div>
        <div class="divider"></div>
        <div class="action-bar">
            <button id="clickAnimate" class="button">Animate</button>
        </div>
    </div>
</section>