@require "../settings.styl";
$pager-padding ?= $default-padding;
$pager-margin ?= $default-margin-layout;
$pager-border-width ?= $default-border-width;
$pager-border-color ?= $default-border-color;
$pager-border-radius ?= $default-border-radius;
$pager-background-color ?= $default-background-color;
$pager-color ?= $default-color;
$pager-hover-background-color ?= $widget-color;
$pager-hover-color ?= $widget-color-alt;
$pager-disabled-background-color ?= $disabled-color;
$pager-disabled-color ?= $disabled-color-alt;
$pager-box-shadow ?= $box-shadow-height-1;
$pager-font-weight ?= bold;
