@import "carousel-settings.less";
.carousel {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: height 0.5s;
    &:after {
        display: table;
        content: '';
        clear: both;
    }
    & > div {
        display: block;
        position: absolute;
        padding: 0;
        margin: 0;
        min-height: @carousel-min-height;
        right: 100%;
        left: -100%;
        transition: left 0.5s, right 0.5s, position 0s linear 0.5s;
        &.carousel-selected {
            right: 0;
            left: 0;
            position: static;
        }
        &.carousel-selected ~ div {
            right: -100%;
            left: 100%;
        }
    }
    &.carousel-run {
        & > div.carousel-selected {
            position: absolute;
        }
    }
}
