@require "../settings.styl";

$range-track-color ?= $gray-light;
$range-thumb-color ?= $gray-dark;

$range-thumb-radius ?= $default-padding;
$range-thumb-height ?= 2 * $default-padding;
$range-thumb-width ?= 2 * $default-padding;
$range-thumb-shadow ?= $box-shadow-height-1;
$range-thumb-border-width ?= $default-border-width;
$range-thumb-border-color ?= $gray-dark;

$range-track-width ?= 100%;
$range-track-height ?= $default-padding;
$range-track-shadow ?= $box-shadow-height-1;
$range-track-border-width ?= $default-border-width;
$range-track-border-color ?= $gray-light;

$range-track-radius ?= $default-border-radius;
$range-contrast ?=  5%;