<section class="section">
    <header class="section-title">Navigation</header>
    <div class="section-content section-content-space">
        <h3>Navbar</h3>
        <nav class="nav">
            <ul>
                <li>
                    <a href="#0">Link 0</a>
                </li>
                <li>
                    <a href="#1">Link 1</a>
                </li>
                <li>
                    <a href="#2">Link 2</a>
                </li>
                <li>
                    <a href="#3">Link 3 &#x25bc;</a>
                    <ul>
                        <li>
                            <a href="#0">Nested Link 0</a>
                        </li>
                        <li>
                            <a href="#1">Nested Link 1</a>
                        </li>
                        <li>
                            <a href="#2">Nested Link 2</a>
                        </li>
                        <li>
                            <a href="#3">Nested Link 3 &#x25bc</a>
                            <ul>
                                <li>
                                    <a href="#0">Double Nested Link 0</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <h3>Breadcrumb</h3>
        <ul class="breadcrumb">
            <li>
                <span>Current</span>
            </li>
            <li>
                <a href="#2">Link</a>
            </li>
            <li>
                <a href="#1">Container</a>
            </li>
            <li>
                <a href="#0">Home</a>
            </li>
        </ul>
    </div>
</section>