<section class="section">
    <header>Abilities</header>
    <div class="section-content section-content-space">
        <h3>Closeable</h3>
        <button class="button" id="clickCloseableToggle">Toggle</button>
        <div class="closeable" id="closeable">
            Multiple<br />
            Lines of<br />
            Content
        </div>
    </div>
</section>