<h2>Animation</h2>
<section class="section">
    <header>Animation</header>
    <div class="section-content clip-x">
        <div class="animatable" data-transition="fade-right" data-direction="in">Transitioned</div>
        <div class="animatable" data-animation="fade-top" data-direction="in">Animated</div>
        <div class="form-divider"></div>
        <div class="form-action">
            <button id="clickAnimate" class="button">Animate</button>
        </div>
    </div>
</section>