<h2>Animation</h2>
<section class="section">
    <header>Button</header>
    <div class="section-content section-content-space clip-x">
        <div>
            <button id="clickAnimate">Animate</button>
        </div>
        <div class="animatable" data-transition="fade-slide-right" data-direction="in">Transitioned</div>
        <div class="animatable" data-animation="fade-slide-top" data-direction="in">Animated</div>
    </div>
</section>