<h2>Input</h2>
<section class="section">
    <header class="section-title">Button</header>
    <div class="section-content scrollable">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Standard</th>
                    <th>Disabled</th>
                    <th>Primary</th>
                    <th>Disabled</th>
                    <th>Danger</th>
                    <th>Disabled</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Standard</th>
                    <td>
                        <button class="button">Edit</button>
                    </td>
                    <td>
                        <button class="button" disabled>Edit</button>
                    </td>
                    <td>
                        <button class="button button-primary">Save</button>
                    </td>
                    <td>
                        <button class="button button-primary" disabled>Save</button>
                    </td>
                    <td>
                        <button class="button button-danger">Delete</button>
                    </td>
                    <td>
                        <button class="button button-danger" disabled>Delete</button>
                    </td>
                </tr>
                <tr>
                    <th>Text</th>
                    <td>
                        <button class="button button-textonly">Edit</button>
                    </td>
                    <td>
                        <button class="button button-textonly" disabled>Edit</button>
                    </td>
                    <td>
                        <button class="button button-textonly button-primary">Save</button>
                    </td>
                    <td>
                        <button class="button button-textonly button-primary" disabled>Save</button>
                    </td>
                    <td>
                        <button class="button button-textonly button-danger">Delete</button>
                    </td>
                    <td>
                        <button class="button button-textonly button-danger" disabled>Delete</button>
                    </td>
                </tr>
                <tr>
                    <th>Outline</th>
                    <td>
                        <button class="button button-outline">Edit</button>
                    </td>
                    <td>
                        <button class="button button-outline" disabled>Edit</button>
                    </td>
                    <td>
                        <button class="button button-outline button-primary">Save</button>
                    </td>
                    <td>
                        <button class="button button-outline button-primary" disabled>Save</button>
                    </td>
                    <td>
                        <button class="button button-outline button-danger">Delete</button>
                    </td>
                    <td>
                        <button class="button button-outline button-danger" disabled>Delete</button>
                    </td>
                </tr>
                <tr>
                    <th>Underline</th>
                    <td>
                        <button class="button button-underline">Edit</button>
                    </td>
                    <td>
                        <button class="button button-underline" disabled>Edit</button>
                    </td>
                    <td>
                        <button class="button button-underline button-primary">Save</button>
                    </td>
                    <td>
                        <button class="button button-underline button-primary" disabled>Save</button>
                    </td>
                    <td>
                        <button class="button button-underline button-danger">Delete</button>
                    </td>
                    <td>
                        <button class="button button-underline button-danger" disabled>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr class="divider" />
        <div class="space">
            <h3>Sizes</h3>
            <div class="align-center">
                <button class="button button-small">Small</button>
                <button class="button">Medium</button>
                <button class="button button-large">Large</button>
            </div>
        </div>

        <hr class="divider" />
        <div class="space">
            <h3>Lockable</h3>
            <div class="align-center">
                <button class="button button-lockable" id="clickLockableEdit">
                    <div class="button-text">Lockable Edit</div>
                    <div class="button-spinner">Locked</div>
                </button>
                <button class="button button-lockable button-primary" id="clickLockableSave">
                    <div class="button-text">Lockable Save</div>
                    <div class="button-spinner">Locked</div>
                </button>
                <button class="button button-lockable button-danger" id="clickLockableDelete">
                    <div class="button-text">Lockable Delete</div>
                    <div class="button-spinner">Locked</div>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <header class="section-title">Button Group</header>
    <div class="section-content section-content-space">
        <h3>Button Group</h3>
        <p>
            <div class="button-group">
                <button class="button">Edit</button>
                <button class="button button-primary">Save</button>
                <button class="button button-danger">Delete</button>
            </div>
        </p>
        <p>
            <div class="button-group">
                <button class="button button-textonly">Edit</button>
                <button class="button button-textonly button-primary">Save</button>
                <button class="button button-textonly button-danger">Delete</button>
            </div>
        </p>
        <p>
            <div class="button-group">
                <button class="button button-outline">Edit</button>
                <button class="button button-outline button-primary">Save</button>
                <button class="button button-outline button-danger">Delete</button>
            </div>
        </p>

        <h3>Button Bar</h3>
        <div>
            <div class="button-bar">
                <button class="button">Edit</button>
                <button class="button button-primary">Save</button>
                <button class="button button-danger">Delete</button>
            </div>
        </div>

        <h3>Action Bar</h3>
        <div class="explode-width">
            <div class="action-bar">
                <button class="button">Edit</button>
                <button class="button button-primary">Save</button>
                <button class="button button-danger">Delete</button>
            </div>
        </div>

        <h3>Breadcrumb Header</h3>
        <div class="action-bar action-bar-breadcrumb">
            <button class="button button-underline button-primary action-bar-dropdown">...</button>
            <button class="button button-underline button-primary">Home</button>
            <button class="button button-underline button-primary">Country</button>
            <button class="button button-underline button-primary">State</button>
            <button class="button button-underline button-primary">County</button>
            <button class="button button-underline button-primary">City</button>
            <button class="button button-underline button-primary">Neighborhood</button>
            <button class="button button-underline button-primary">Street</button>
            <button class="button button-underline button-primary">Link</button>
            <button class="button button-underline">Current</button>
        </div>
    </div>
</section>