<section class="section">
    <header>Cards</header>
    <div class="section-content section-content-space">
        <h3>Simple Card</h3>
        <div class="card-container">
            <section class="card">
                <header>Card Header</header>
                <div class="card-content space">Card Content</div>
                <header>Card Header</header>
                <nav>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                </nav>
                <footer>Card Footer</footer>
            </section>
            <section class="card" data-closed="true">
                <header>Card Header</header>
                <div class="card-content">
                    <div>Card Content</div>
                    <header class="card-title">Card Header</header>
                    <nav>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                    </nav>
                    <footer class="card-title">Card Footer</footer>
                </div>
            </section>
            <section class="card" data-closed="false">
                <header>Card Header</header>
                <div class="card-content space">
                    <div>Card Content</div>
                </div>
                <header class="card-title">Card Header</header>
                <nav>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                </nav>
                <footer class="card-title">Card Footer</footer>
            </section>
            <section class="card" data-closed="false">
                <header>Card Header</header>
                <div class="card-content space">
                    <div>Card Content</div>
                </div>
                <header class="card-title">Card Header</header>
                <nav>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                </nav>
                <footer class="card-title">Card Footer</footer>
            </section>
            <section class="card" data-closed="false">
                <header>Card Header</header>
                <div class="card-content space">
                    <div>Card Content</div>
                </div>
                <header class="card-title">Card Header</header>
                <nav>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                </nav>
                <footer class="card-title">Card Footer</footer>
            </section>
        </div>

        <h3>Card Data</h3>
        <section class="card" data-closed="false">
            <header>Card Header</header>
            <div class="card-content space">
                <section class="card-section card-section-multi-column">
                    <div class="card-control">
                        <label class="card-label">Label</label>
                        <div class="card-data">Data</div>
                    </div>
                    <div class="card-control">
                        <label class="card-label">Label</label>
                        <div class="card-data">Data</div>
                    </div>
                    <div class="card-control">
                        <label class="card-label">Label</label>
                        <div class="card-data">Data</div>
                    </div>
                    <div class="card-control">
                        <label class="card-label">Label</label>
                        <div class="card-data">Data</div>
                    </div>
                </section>
            </div>
            <nav class="card-nav-align-end">
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </nav>
        </section>
    </div>
</section>