<section class="section">
    <header class="section-title">Cards</header>
    <div class="section-content section-content-space">
        <h3>Simple Card</h3>
        <div class="card-container">
            <section class="card card-handle-left card-type-success">
                <header>Card Header</header>
                <div class="card-content space">Card Content</div>
                <header>Card Header</header>
                <nav>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                </nav>
                <footer>Card Footer</footer>
            </section>
            <section class="card card-handle-left card-type-info" data-closed="true">
                <header>Card Header</header>
                <div class="card-content">
                    <div>Card Content</div>
                    <header class="card-title">Card Header</header>
                    <nav>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                    </nav>
                    <footer class="card-title">Card Footer</footer>
                </div>
            </section>
            <section class="card card-handle-left card-type-warning" data-closed="false">
                <header>Card Header</header>
                <div class="card-content space">
                    <div>Card Content</div>
                </div>
                <header class="card-title">Card Header</header>
                <nav>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                </nav>
                <footer class="card-title">Card Footer</footer>
            </section>
            <section class="card card-handle-left card-type-danger" data-closed="false">
                <header>Card Header</header>
                <div class="card-content space">
                    <div>Card Content</div>
                </div>
                <header class="card-title">Card Header</header>
                <nav>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                </nav>
                <footer class="card-title">Card Footer</footer>
            </section>
            <section class="card disabled" data-closed="false">
                <header>Card Header</header>
                <div class="card-content space">
                    <div>Card Content</div>
                </div>
                <header class="card-title">Card Header</header>
                <nav>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                </nav>
                <footer class="card-title">Card Footer</footer>
            </section>
        </div>

        <h3>Card Data</h3>
        <section class="card" data-closed="false">
            <header>Card Header</header>
            <div class="card-content space">
                <section class="card-section card-section-multi-column">
                    <div class="card-control">
                        <label class="card-control-title">Label</label>
                        <div class="card-control-data">Data</div>
                    </div>
                    <div class="card-control">
                        <label class="card-control-title">Label</label>
                        <div class="card-control-data">Data</div>
                    </div>
                    <div class="card-control">
                        <label class="card-control-title">Label</label>
                        <div class="card-control-data">Data</div>
                    </div>
                    <div class="card-control">
                        <label class="card-control-title">Label</label>
                        <div class="card-control-data">Data</div>
                    </div>
                </section>
            </div>
            <div class="action-bar" data-size="small">
                <button class="button button-textonly">Cancel</button>
                <button class="button button-textonly button-primary">OK</button>
            </div>
        </section>

        <section class="card" data-closed="false">
            <header>Card Header</header>
            <div class="card-content space">
                <section class="card-section card-section-centered">
                    <div class="card-control">
                        <label class="card-control-title">Label</label>
                        <div class="card-control-data">Data</div>
                    </div>
                    <div class="card-control">
                        <label class="card-control-title">Label</label>
                        <div class="card-control-data">Data</div>
                    </div>
                    <div class="card-control">
                        <label class="card-control-title">Label</label>
                        <div class="card-control-data">Data</div>
                    </div>
                    <div class="card-control">
                        <label class="card-control-title">Label</label>
                        <div class="card-control-data">Data</div>
                    </div>
                </section>
            </div>
            <div class="action-bar" data-size="small">
                <button class="button button-textonly">Cancel</button>
                <button class="button button-textonly button-primary">OK</button>
            </div>
        </section>
    </div>
</section>