<section class="section">
    <header>Containers</header>
    <div class="section-content">
        <h3>Modal</h3>
        <button id="clickOpenModal" class="button">Open Modal</button>
        <div class="modal modal-animate-top">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Title</h1>
                    <div class="modal-controls">
                        <button id="clickCloseModal" class="button">Close Modal</button>
                    </div>
                </div>
                <div class="modal-body">Modal Content</div>
                <div class="modal-footer"></div>
            </div>
        </div>

        <h3>Drawer</h3>
        <button id="clickOpenDrawer" class="button">Open Drawer</button>
        <div id="drawer" class="drawer drawer-bottom">
            <div class="drawer-content">
                <button id="clickCloseDrawer" class="button pull-right">Close</button>
                <p>Drawer Content</p>
            </div>
        </div>

        <h3>Tab</h3>
        <div class="tab-container" id="tab-regular">
            <ul class="tab-header">
                <li class="tab-title tab-active">
                    <a>Widgets</a>
                </li>
                <li class="tab-title"><a>Input</a></li>
                <li class="tab-title"><a>View Models</a></li>
            </ul>
            <div class="tab-body">
                <div class="tab-panel tab-active">
                    Widgets Content
                </div>
                <div class="tab-panel">
                    Input Content
                </div>
                <div class="tab-panel">
                    View Models Content
                </div>
            </div>
        </div>

        <h3>Carousel</h3>
        <div class="tab-container" id="tab-carousel">
            <ul class="tab-header">
                <li class="tab-title tab-active">
                    <a>Widgets</a>
                </li>
                <li class="tab-title"><a>Input</a></li>
                <li class="tab-title"><a>View Models</a></li>
            </ul>
            <div class="carousel tab-carousel" id="carousel-tab">
                <div class="carousel-selected">
                    Content 0
                    <br /><input type="text" />
                </div>
                <div>
                    Content 1
                    <br />Line 2
                    <br /><input type="text" />
                </div>
                <div>
                    Content 2
                    <br />Line 2
                    <br />Line 3
                    <br /><input type="text" />
                </div>
            </div>
        </div>
        <br />
        <button id="clickCarouselBack" class="button">Back</button>
        <button id="clickCarouselNext" class="button">Next</button>
        <div class="carousel" id="carousel" style="background-color: black">
            <div class="carousel-selected" style="background-color: red; padding: 10px;">
                Content 0
                <br /><input type="text" />
            </div>
            <div style="background-color: blue; padding: 10px;">
                Content 1
                <br />Line 2
                <br /><input type="text" />
            </div>
            <div style="background-color: yellow; padding: 10px;">
                Content 2
                <br />Line 2
                <br />Line 3
                <br /><input type="text" />
            </div>
        </div>

        <h3>Flip</h3>
        <button id="clickFlipBack" class="button">Back</button>
        <button id="clickFlipNext" class="button">Next</button>
        <div class="carousel carousel-animate-flip" id="flip" style="background-color: black">
            <div class="carousel-selected" style="background-color: red; padding: 10px;">
                Content 0
                <br /><input type="text" />
            </div>
            <div style="background-color: blue; padding: 10px;">
                Content 1
                <br />Line 2
                <br /><input type="text" />
            </div>
            <div style="background-color: yellow; padding: 10px;">
                Content 2
                <br />Line 2
                <br />Line 3
                <br /><input type="text" />
            </div>
        </div>

        <h3>Locked</h3>
        <section id="closedSection" class="section">
            <header id="sectionHeader">
                Locked Content
                <button id="clickToggleSection" class="button button-lockable section-toggle">
                    <div class="button-text">-</div>
                    <div class="button-spinner">O</div>
                </button>
            </header>
            <div id="sectionContent" class="section-content lock-contents">
                <button id="clickLockSection" class="button">Lock</button>
            </div>
        </section>
    </div>
    <footer>Footer</footer>
</section>