<h3>Drawer</h3>
<button id="clickOpenDrawer" class="button">Open Drawer</button>
<div id="drawer" class="drawer drawer-bottom drawer-space">
    <div class="drawer-background">
        <div class="drawer-scroller">
            <div class="drawer-content">
                <button id="clickCloseDrawer" class="button pull-right">Close</button>
                <p>Drawer Content</p>
            </div>
        </div>
    </div>
</div>

<button id="clickOpenLargeDrawer" class="button">Open Drawer</button>
<div id="largeDrawer" class="drawer drawer-bottom drawer-space">
    <div class="drawer-background">
        <div class="drawer-scroller">
            <div class="drawer-content">
                <button id="clickCloseLargeDrawer" class="button pull-right">Close</button>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
                <p>Drawer Content</p>
            </div>
        </div>
    </div>
</div>