<h2>Form</h2>
<section class="section">
    <header class="section-title">Basic Form</header>
    <div class="section-content section-content-fill">
        <form class="form form-md">
            <div class="form-lock-screen"></div>
            <div class="grid grid-space hidden">
                <div class="row">
                    <div class="col-1">
                        <div class="grid-example-cell">1</div>
                    </div>
                    <div class="col-1">
                        <div class="grid-example-cell">1</div>
                    </div>
                    <div class="col-1">
                        <div class="grid-example-cell">1</div>
                    </div>
                    <div class="col-1">
                        <div class="grid-example-cell">1</div>
                    </div>
                    <div class="col-1">
                        <div class="grid-example-cell">1</div>
                    </div>
                    <div class="col-1">
                        <div class="grid-example-cell">1</div>
                    </div>
                    <div class="col-1">
                        <div class="grid-example-cell">1</div>
                    </div>
                    <div class="col-1">
                        <div class="grid-example-cell">1</div>
                    </div>
                    <div class="col-1">
                        <div class="grid-example-cell">1</div>
                    </div>
                    <div class="col-1">
                        <div class="grid-example-cell">1</div>
                    </div>
                    <div class="col-1">
                        <div class="grid-example-cell">1</div>
                    </div>
                    <div class="col-1">
                        <div class="grid-example-cell">1</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-title">
                    Title
                </label>
                <div class="form-control">
                    <input class="input fill-width" type="text" />
                </div>
            </div>
            <div class="form-group">
                <label class="form-title">
                    First Name
                </label>
                <div class="form-control">
                    <input class="input fill-width" type="text" required />
                </div>
                <div class="form-text" data-theme="info">
                    Helper Text
                </div>
            </div>
            <div class="form-group">
                <label class="form-title">
                    Last Name
                </label>
                <div class="form-control">
                    <input class="input fill-width" type="text" />
                </div>
                <div class="form-text" data-theme="danger">
                    <span>Helper Text</span>
                    <span>0 / 100</span>
                </div>
            </div>
            <div class="form-row form-row-sm">
                <div class="form-group">
                    <label class="form-title">
                        First Name
                    </label>
                    <div class="form-control">
                        <input class="input fill-width" type="text" required />
                    </div>
                    <div class="form-text">
                        Helper Text
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-title">
                        Last Name
                    </label>
                    <div class="form-control">
                        <input class="input fill-width" type="text" />
                    </div>
                    <div class="form-text">
                        <span>Helper Text</span>
                        <span>0 / 100</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <input class="input fill-width" type="text" />
                </div>
                <div class="form-text">
                    <span>Helper Text</span>
                    <span>0 / 100</span>
                </div>
            </div>
            <div class="form-group form-group-stacked">
                <label class="form-title">
                    Body Text
                </label>
                <div class="form-control">
                    <input class="input fill-width" type="text" />
                </div>
                <div class="form-text">
                    <span>Helper Text</span>
                    <span>0 / 100</span>
                </div>
            </div>
            <div class="form-group form-group-inline">
                <label class="form-title">
                    Publish
                </label>
                <div class="form-control">
                    <input type="checkbox" />
                </div>
            </div>
            <div class="divider"></div>
            <div class="action-bar">
                <button class="button">Cancel</button>
                <button class="button button-primary">Save</button>
            </div>
            <div class="divider"></div>
            <div class="form-text fill">This is some full width text.</div>
            <div class="divider"></div>
            <div class="form-text">This is some text.</div>
            <div class="form-group">
                <label class="form-title">
                    Password
                </label>
                <div class="form-control">
                    <input class="input fill-width" type="password" />
                </div>
            </div>
            <div class="form-group">
                <label class="form-title">
                    Select
                </label>
                <div class="form-control">
                    <select class="input fill-width">
                        <option>Option 0</option>
                        <option>Option 1</option>
                        <option>Option 2</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <footer>
        <div class="action-bar">
            <button class="button">Cancel</button>
            <div class="spacer"></div>
            <button class="button button-primary">Save</button>
        </div>
    </footer>
</section>