<h2>Form</h2>
<section class="section">
    <header>Basic Form</header>
    <div class="section-content">
        <form class="form">
            <div class="form-lock-screen"></div>
            <div class="form-container">
                <label class="form-label">
                    <div class="form-title">
                        Title
                    </div>
                    <div class="form-input">
                        <input class="input" type="text" />
                    </div>
                </label>
            </div>
            <div class="form-actions">
                <button class="button">Cancel</button>
                <button class="button button-primary">Save</button>
            </div>
        </form>
    </div>
</section>