<h2>Form</h2>
<section class="section">
    <header class="section-title">Basic Form</header>
    <div class="section-content section-content-fill">
        <form class="form form-md">
            <div class="form-lock-screen"></div>
            <div class="form-container">
                <label class="form-label">
                    <div class="form-title">
                        Title
                    </div>
                    <div class="form-input">
                        <input class="input fill-width" type="text" />
                    </div>
                </label>
            </div>
            <div class="form-container">
                <label class="form-label">
                    <div class="form-title">
                        First Name
                    </div>
                    <div class="form-input">
                        <input class="input fill-width" type="text" />
                    </div>
                </label>
            </div>
            <div class="form-container">
                <label class="form-label">
                    <div class="form-title">
                        Last Name
                    </div>
                    <div class="form-input">
                        <input class="input fill-width" type="text" />
                    </div>
                </label>
            </div>
            <div class="divider"></div>
            <div class="action-bar">
                <button class="button">Cancel</button>
                <button class="button button-primary">Save</button>
            </div>
            <div class="divider"></div>
            <div class="form-text">This is some text.</div>
            <div class="divider"></div>
            <div class="form-container">
                <label class="form-label">
                    <div class="form-title">
                        Password
                    </div>
                    <div class="form-input">
                        <input class="input fill-width" type="password" />
                    </div>
                </label>
            </div>
            <div class="form-container">
                <label class="form-label">
                    <div class="form-title">
                        Select
                    </div>
                    <div class="form-input">
                        <select class="input fill-width">
                            <option>Option 0</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </div>
                </label>
            </div>
        </form>
    </div>
    <footer>
        <div class="action-bar">
            <button class="button">Cancel</button>
            <button class="button button-primary">Save</button>
        </div>
    </footer>
</section>