<div class="root container container-menu-bar-top">
    {{#> menu-bar-top}}{{/menu-bar-top}}
    <h1>Artistry</h1>
    {{#> button}}{{/button}}
    {{#> input}}{{/input}}
    {{#> form}}{{/form}}
    {{#> data}}{{/data}}
    {{#> widgets}}{{/widgets}}
</div>