<div class="root container container-menu-bar-top">
    {{#> menu-bar-top}}{{/menu-bar-top}}
    <h1>Artistry</h1>
    {{#> button}}{{/button}}
    {{#> input}}{{/input}}
    {{#> form}}{{/form}}
    {{#> data}}{{/data}}
    {{#> list}}{{/list}}
    <h2>Widgets</h2>
    {{#> information}}{{/information}}
    {{#> containers}}{{/containers}}
    {{#> navigation}}{{/navigation}}
    {{#> widgets}}{{/widgets}}
</div>