<section class="section">
    <header class="section-title">Advanced Input</header>
    <div class="section-content">
        <div class="form-group">
            <label class="form-label">
                <div class="form-title">
                    Range
                </div>
                <div class="form-input">
                    <input type="range" class="range" />
                </div>
            </label>
        </div>
        <div class="form-group form-group-inline">
            <label class="form-label">
                <div class="form-title">
                    Toggle
                </div>
                <div class="form-input">
                    <div class="toggle">
                        <label>
                            <div class="toggle-box">
                                <input type="checkbox">
                                <div class="toggle-button">&nbsp;</div>
                            </div>
                        </label>
                    </div>
                </div>
            </label>
        </div>
        {{#> calendar}}{{/calendar}}
    </div>
</section>