<section class="section">
    <header>Advanced Input</header>
    <div class="section-content section-content-space">
        <h3>Range</h3>
        <input type="range" class="range" />

        <h3>Toggle</h3>
        <div class="toggle">
            <label>
                <div class="toggle-box">
                    <input type="checkbox">
                    <div class="toggle-button">&nbsp;</div>
                </div>
            </label>
        </div>
        {{#> calendar}}{{/calendar}}
    </div>
</section>