<div class="menu-bar">
    <div class="menu-bar-expander" id="clickOpenMenuDrawer">
        <a href="#">&#9776;</a>
    </div>
    <div class="menu-bar-title">Footer</div>
    <ul>
        <li class="menu-link"><a href="#forms">Forms</a></li>
    </ul>
</div>