<div class="menu-bar">
    <div class="menu-bar-expander" id="clickOpenMenuDrawer">
        <a href="#">&#9776;</a>
    </div>
    <div class="menu-bar-title">Artistry</div>
    <ul>
        <li class="menu-link"><a href="#forms">Forms</a></li>
        <li class="menu-link"><a href="#data">Data</a></li>
        <li class="menu-link"><a href="#widgets">Widgets</a></li>
        <li class="menu-link"><a href="#navigation">Navigation</a></li>
        <li class="menu-link"><a href="#animation">Animation</a></li>
        <li class="menu-link"><a href="#grid">Grid</a></li>
        <li class="spacer"></li>
        <li class=""><a href="#" id="clickFlipDirection">Flip Direction</a></li>
        <li class="">
            <span>
                <a href="#" class="popover-trigger">
                    <span class="thumbnail thumbnail-user-small thumbnail-type-0">A</span>
                    <div class="popover popover-space popover-bottom popover-align-right">
                        <div class="popover-content">
                            <button class="button">Logout</button>
                        </div>
                    </div>
                </a>
            </span>
        </li>
        <li class="">
            <span>
                <a href="#" class="popover-trigger">
                    <img src="https://placebear.com/50/50" class="thumbnail thumbnail-user-small" />
                    <div class="popover popover-space popover-bottom popover-align-right popover-menu-bar-top">
                        <div class="popover-mask"></div>
                        <div class="popover-content">
                            <button class="button">Logout</button>
                        </div>
                    </div>
                </a>
            </span>
        </li>
    </ul>
</div>
<div id="menuDrawer" class="drawer drawer-left">
    <div class="drawer-background">
        <div class="drawer-scroller">
            <div class="drawer-content">
                <div class="menu-bar">
                    <div class="menu-bar-expander" id="clickCloseMenuDrawer">
                        <a href="#">&#9776;</a>
                    </div>
                    <div class="menu-bar-title">Artistry</div>
                </div>
                <ul class="list list-space clickable">
                    <li><a class href="#forms">Forms</a></li>
                    <li><a href="#data">Data</a></li>
                    <li><a href="#widgets">Widgets</a></li>
                    <li><a href="#navigation">Navigation</a></li>
                    <li><a href="#animation">Animation</a></li>
                    <li><a href="#grid">Grid</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>