<h3>Modal</h3>
<button id="clickOpenModal" class="button">Open Modal</button>
<div id="modal" class="modal modal-md modal-animate-top">
    <div class="modal-background">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Title</div>
                <div class="action-bar">
                    <button id="clickCloseModal" class="button button-small">Close</button>
                </div>
            </div>
            <div class="modal-body">
                <form class="form form-md">
                    <div class="form-lock-screen"></div>
                    <div class="form-group">
                        <label class="form-title">
                            Title
                        </label>
                        <div class="form-control">
                            <input class="input fill-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-title">
                            First Name
                        </label>
                        <div class="form-control">
                            <input class="input fill-width" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-title">
                            Last Name
                        </label>
                        <div class="form-control">
                            <input class="input fill-width" type="text" />
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="action-bar">
                        <button class="button">Cancel</button>
                        <button class="button button-primary">Save</button>
                    </div>
                    <div class="divider"></div>
                    <div class="form-text">This is some text.</div>
                    <div class="divider"></div>
                    <div class="form-group">
                        <label class="form-title">
                            Option
                        </label>
                        <div class="form-control">
                            <input class="input fill-width" type="text" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="action-bar">
                    <button id="clickOkModal" class="button button-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>