<section class="section">
    <header>Abilities</header>
    <div class="section-container">
        <h3>Closeable</h3>
        <button class="button" id="closeableToggle">Toggle</button>
        <div class="closeable" id="closeable">
            Multiple<br />
            Lines of<br />
            Content
        </div>
    </div>
</section>
<section class="section">
    <header>Cards</header>
    <div class="section-content">
        <h3>Simple Card</h3>
        <div class="card-container">
            <section class="card">
                <header>Card Header</header>
                <div class="card-content">Card Content</div>
                <header>Card Header</header>
                <nav>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                    <a href="#">Link</a>
                </nav>
                <footer>Card Footer</footer>
            </section>
            <section class="card" data-closed="true">
                <header>Card Header</header>
                <div class="card-content">
                    <div>Card Content</div>
                    <header class="card-title">Card Header</header>
                    <nav>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                    </nav>
                    <footer class="card-title">Card Footer</footer>
                </div>
            </section>
        </div>
    </div>
</section>
<section class="section">
    <header>Tools</header>
    <div class="section-content">
        <h3>Code</h3>
        <pre class="code">
            <code>window.onload = function () {</code>
            <code> console.log('loaded');</code>
            <code>};</code>
        </pre>
    </div>
</section>