<section class="section">
    <header>Abilities</header>
    <div class="section-content section-content-space">
        <h3>Closeable</h3>
        <button class="button" id="closeableToggle">Toggle</button>
        <div class="closeable" id="closeable">
            Multiple<br />
            Lines of<br />
            Content
        </div>
    </div>
</section>
<section class="section">
    <header>Tools</header>
    <div class="section-content section-content-space">
        <h3>Code</h3>
        <pre class="code">
            <code>window.onload = function () {</code>
            <code> console.log('loaded');</code>
            <code>};</code>
        </pre>
    </div>
</section>