@require "lock-settings.styl";
.lock-contents {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $lock-background-color;
        opacity: 0;
        visibility: hidden;
        transition: opacity $lock-transition-duration, visibility $lock-transition-duration;
    }
    &.locked:after {
        opacity.5 ;
        visibility: visible;
    }
}
