@import "breadcrumb-settings.less";
@breadcrumb-padding: 10px;
@breadcrumb-line-height: 30px;
@breadcrumb-border-width: 1px; //@default-border-width;
@breadcrumb-border-color: @default-border-color;
@breadcrumb-border-radius: @default-border-radius;
@breadcrumb-height: 2 * @breadcrumb-padding + @breadcrumb-line-height;
@breadcrumb-curve-offset-x: @breadcrumb-border-radius - (@breadcrumb-border-radius * cos(45deg));
@breadcrumb-curve-offset-y: @breadcrumb-curve-offset-x;
@breadcrumb-diagonal: (@breadcrumb-height + 3 * @breadcrumb-border-width - 2 * @breadcrumb-curve-offset-x) * sqrt(2) / 2;
.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: @breadcrumb-line-height;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
    & > li {
        margin: 0;
        margin-left: -@breadcrumb-border-radius;
        padding: 0;
        float: left;
        border-top: @breadcrumb-border-width solid @breadcrumb-border-color;
        border-right: @breadcrumb-border-width solid @breadcrumb-border-color;
        border-bottom: @breadcrumb-border-width solid @breadcrumb-border-color;
        border-top-right-radius: @breadcrumb-border-radius;
        border-bottom-right-radius: @breadcrumb-border-radius;
        &:first-child {
            margin-left: 0;
            border-left: @breadcrumb-border-width solid @breadcrumb-border-color;
            border-top-left-radius: @breadcrumb-border-radius;
            border-bottom-left-radius: @breadcrumb-border-radius;
            & > a {
                padding-left: @breadcrumb-padding;
            }
        }
        & > a {
            display: block;
            position: relative;
            margin: 0;
            padding: @breadcrumb-padding;
            padding-left: @breadcrumb-diagonal;
            padding-right: @breadcrumb-padding + @breadcrumb-curve-offset-x;
            text-decoration: none;
            float: left;
            height: @breadcrumb-height;
            &:after {
                display: block;
                content: '';
                position: absolute;
                & when (@breadcrumb-border-radius > 0) {
                    right: 0;
                }
                & when (@breadcrumb-border-radius = 0) {
                    right: -@breadcrumb-border-width;
                }
                top: @breadcrumb-curve-offset-y - 2 * @breadcrumb-border-width;
                .transform(translateX(50%) translateY(25%) rotate(45deg));
                border-top: @breadcrumb-border-width solid @breadcrumb-border-color;
                border-right: @breadcrumb-border-width solid @breadcrumb-border-color;
                border-top-right-radius: @breadcrumb-border-radius;
                height: @breadcrumb-diagonal;
                width: @breadcrumb-diagonal;
            }
        }
    }
}
