@require "../settings.styl";
$table-head-border-color ?= $default-border-color;
$table-row-odd-background-color ?= #fff;
$table-row-even-background-color ?= #eee;
$table-row-hover-background-color ?= #ddd;

$table-spacing ?= $default-spacing;