@require "../settings.styl";
$card-padding ?= $default-padding;
$card-margin ?= $default-margin-layout;
$card-border-width ?= $default-border-width;
$card-border-color ?= $default-border-color;
$card-border-radius ?= $default-border-radius;
$card-color ?= $default-color;
$card-background-color ?= $default-background-color;
$card-header-background-color ?= $default-header-background-color;
$card-header-color ?= $default-header-color;
$card-header-font-weight ?= bold;
$card-footer-background-color ?= $default-header-background-color;
$card-footer-color ?= $default-header-color;
$card-footer-font-weight ?= bold;
$card-animation-time ?= $default-animation-time;
$card-box-shadow ?= $box-shadow-height-1;

$card-gap ?= $default-margin-layout;
$card-min-width ?= 300px;
$card-max-width ?= 1fr;

$card-control-margin ?= $default-spacing;

$card-success-background-color ?= $success-color;
$card-success-color ?= $success-color-alt;
$card-success-border-color ?= $success-color;
$card-info-background-color ?= $info-color;
$card-info-color ?= $info-color-alt;
$card-info-border-color ?= $info-color;
$card-warning-background-color ?= $warning-color;
$card-warning-color ?= $warning-color-alt;
$card-warning-border-color ?= $warning-color;
$card-danger-background-color ?= $danger-color;
$card-danger-color ?= $danger-color-alt;
$card-danger-border-color ?= $danger-color;

$card-handle-width ?= 5px;