@import "tab-settings.styl";
@import "../core/mixins.styl";
.tab-container {
    margin.7 em 0;
    & > ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        & > li {
            user-select: none;
            display: block;
            position: relative;
            margin: 0 10px 0 0;
            padding: 0;

            //top: $tab-border-width;
            border: $tab-border-width solid $tab-border-color;
            border-bottom: 0;
            border-top-left-radius: $tab-border-radius;
            border-top-right-radius: $tab-border-radius;
            background-color: $tab-inactive-background-color;
            box-shadow: $tab-box-shadow;
            & > a {
                display: block;
                padding: $tab-header-padding;
                text-decoration: none;
                cursor: pointer;
                color: $tab-color;
            }
        }
        & > li:hover {
            color: $tab-hover-color;
            background-color: $tab-hover-background-color;
        }
        & > li:active {
            color: $tab-active-color;
            background-color: $tab-active-background-color;
        }
        & > li.tab-active {
            background-color: $tab-background-color;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -$tab-border-width;
                height: $tab-border-width + $tab-box-shadow-guard;
                width: 100%;
                background-color: $tab-background-color;
                z-index: 1;
            }
        }
    }
    & > div {
        display: block;
        position: relative;
        margin: 0;
        padding: $tab-body-padding;
        border: $tab-border-width solid $tab-border-color;
        background-color: $tab-background-color;
        border-radius: 0 $tab-border-radius $tab-border-radius $tab-border-radius;
        box-shadow: $tab-box-shadow;
        & > div {
            display: none;
            clearfix();
            &.tab-active {
                display: block;
            }
        }
    }
}
