@require "../settings.styl";
$modal-background-color ?= #fff;
$modal-header-background-color ?= $default-header-color;
$modal-border-radius ?= $default-border-radius;
$modal-border-width ?= $default-border-width;
$modal-border-color ?= $default-border-color;
$modal-mask-background-color ?= rgba(1, 1, 1, 0.5);
$modal-content-box-shadow ?= 5px 5px 20px -2px #000;
$modal-width ?= 75%;
$modal-min-height ?= 50px;
$modal-margin-top ?= 30px;
$modal-margin-bottom ?= $modal-margin-top;
$modal-padding ?= $default-padding;
$modal-z-index ?= 2000;
$modal-transition-duration ?= 0.5s;
$modal-action-spacing ?= $default-padding;
