@require "../settings.styl";
$modal-background-color ?= $default-background-color;
$modal-header-color ?= $default-header-color;
$modal-header-background-color ?= $default-header-background-color;
$modal-footer-color ?= $default-header-color;
$modal-footer-background-color ?= $default-header-background-color;
$modal-border-radius ?= $default-border-radius;
$modal-border-width ?= $default-border-width;
$modal-border-color ?= $default-border-color;
$modal-mask-background-color ?= rgba(1, 1, 1, 0.5);
$modal-content-box-shadow ?= 0 5px 20px -2px #000;
$modal-width ?= 75%;
$modal-min-height ?= 50px;
$modal-margin-top ?= 30px;
$modal-margin-bottom ?= $modal-margin-top;
$modal-spacing ?= $default-padding;
$modal-z-index ?= 2000;
$modal-slide-duration ?= 0.5s;
$modal-fade-duration ?= 0.2s;
$modal-title-font-size ?= 1.5em;
$modal-title-font-weight ?= bold;
