@require "../settings.styl";
$section-padding ?= $default-padding;
$section-margin ?= $default-margin-layout;
$section-border-width ?= $default-border-width;
$section-border-color ?= $default-border-color;
$section-border-radius ?= $default-border-radius;
$section-color ?= $default-color;
$section-background-color ?= $default-background-color;
$section-header-padding ?= $default-padding;
$section-header-background-color ?= $default-header-background-color;
$section-header-color ?= $default-header-color;
$section-header-font-weight ?= bold;
$section-animation-time ?= $default-animation-time;
$section-box-shadow ?= $box-shadow-height-1;
