@import "section-settings.styl";
@import "../core/mixins.styl";
$section-header-margin = -($section-border-width + $section-padding);
.section {
    border: $section-border-width solid $section-border-color;
    border-radius: $section-border-radius;
    padding: 0;
    margin: $section-margin 0;
    box-shadow: $section-box-shadow;
    overflow: hidden;
    & > header {
        background-color: $section-header-background-color;
        color: $section-header-color;
        font-weight: $section-header-font-weight;
        border: $section-border-width solid $section-border-color;
        border-top-left-radius: $section-border-radius;
        border-top-right-radius: $section-border-radius;
        padding: $section-padding;
        margin: -1 * $section-border-width;
        clearfix();
        & > .section-toggle {
            float: right;
            padding: 0;
            margin: 0;
            height: 20px;
            width: 20px;
            font-weight: bold;
        }
    }
    .section-container {
        position: relative;
    }
    .section-content {
        padding: $section-padding;
        transition: max-height $section-animation-time;
        overflow: hidden;
        &.lock-contents:after {
            margin-top: $section-border-width;
            border-bottom-right-radius: max(0, $section-border-radius - $section-border-width);
            border-bottom-left-radius: max(0, $section-border-radius - $section-border-width);
        }
    }
    &.section-closed > .section-content {
        padding-top: 0;
        padding-bottom: 0;
        max-height: 0;
    }
}
