@require "../settings.styl";

$menu-bar-height ?= 40px;
$menu-bar-padding ?= 10px;
$menu-bar-background-color ?= $blue;
$menu-bar-color ?= $white;
$menu-bar-title-font-size ?= 20px;
$menu-bar-font-size ?= 14px;
$menu-bar-background-color-hover ?= $blue-light;
$menu-bar-background-color-active ?= $blue-dark;
$menu-bar-shadow ?= $box-shadow-height-1;
