@require "menu-bar-settings.styl";

.menu-bar {
    display: flex;
    flex-direction: horizontal;
    background-color: $menu-bar-background-color;
    box-shadow: $menu-bar-shadow;

    & > .menu-bar-title {
        display: block;
        padding: 0 $menu-bar-padding;
        font-size: 30px;
        font-weight: bold;
        line-height: $menu-bar-top-height;
        color: $menu-bar-color;
    }

    & > .menu-bar-expander {
        display: none;
        & > a {
            padding: $menu-bar-padding;
            font-size: 30px;
            font-weight: bold;
            line-height: $menu-bar-top-height;
            color: $menu-bar-color;
            text-decoration: none;
            transition: background-color 0.3s;
            &:hover {
                background-color: $menu-bar-background-color-hover;
            }
        }
        &.menu-bar-expander-active > a {
            background-color: $menu-bar-background-color-hover;
        }
    }

    & > ul {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        padding: 0;
        margin: 0;
        list-style: none;

        & > li {
            display: block;

            &.menu-spacer {
                flex-grow: 1;
            }

            &.menu-link {
                & > a,
                & > span {
                    color: $menu-bar-color;
                    text-decoration: none;
                    transition: background-color 0.3s;
                    &:hover {
                        background-color: $menu-bar-background-color-hover;
                    }
                }
                &.menu-active > a {
                    background-color: $menu-bar-background-color-active;
                }
            }

            & > * {
                display: block;
                height: $menu-bar-top-height;
                padding: $menu-bar-padding;
                line-height: $menu-bar-top-height - 2 * $menu-bar-padding;
            }
        }
    }

    &.menu-bar-top {
        height: $menu-bar-top-height;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 11;

        @media only screen and (max-width: ($size-md - 1)) {
            display: block;
            height: auto;

            & > .menu-bar-title {
                display: inline-block;
            }

            & > .menu-bar-expander {
                display: inline-block;
            }

            & > ul {
                display: none;
                flex-direction: column;
            }
            &.menu-bar-open {
                & > ul {
                    clear: top;
                    display: flex;
                }
            }
        }
    }
}

.container-menu-bar-top {
    padding-top: $menu-bar-top-height;
}

.popover-menu-bar-top > .popover-mask {
    top: $menu-bar-top-height;
}
