@require "../settings.styl";

$menu-bar-top-height ?= 60px;
$menu-bar-padding ?= 10px;
$menu-bar-background-color ?= $blue;
$menu-bar-color ?= $white;
$menu-bar-background-color-hover ?= $blue-dark;
$menu-bar-shadow ?= $box-shadow-height-1;
