@import "../settings.styl";
$toggle-border-width ?= $default-border-width;
$toggle-border-color ?= $default-border-color;
$toggle-box-height ?= 20px;
$toggle-button-height ?= 30px;
$toggle-min-width ?= 80px;
$toggle-margin ?= 0; //$default-margin-layout;
$toggle-button-offset ?= ($toggle-box-height - $toggle-button-height) / 2;
$toggle-box-background-color ?= $gray-light;
$toggle-box-box-shadow ?= $box-shadow-height-1;
$toggle-button-background-color ?= $gray-dark;
$toggle-button-border-color ?= $gray-dark;
$toggle-button-hover-background-color ?= lighten($gray-dark, $lighter);
$toggle-button-hover-border-color ?= lighten($gray-dark, $lighter);
$toggle-button-active-background-color ?= darken($gray-dark, $darker);
$toggle-button-active-border-color ?= darken($gray-dark, $darker);
$toggle-button-box-shadow ?= $box-shadow-height-1;
$toggle-button-hover-box-shadow ?= $box-shadow-height-1;
