$darker ?= 20%;
$lighter ?= 20%;
$white ?= #fff;
$black ?= #333;

$gray ?= #aaa;
$red ?= #d50000;
$blue ?= #6200ee;
$yellow ?= #ff0;
$green ?= #080;
$brown ?= brown;
$orange ?= orange;

$gray-dark ?= #018786;
$gray-light ?= lighten($gray, $lighter);
$red-dark ?= darken($red, $darker);
$red-light ?= lighten($red, $lighter);
$blue-dark ?= #3700b3;
$blue-light ?= lighten($blue, $lighter);
$yellow-dark ?= darken($yellow, $darker);
$yellow-light ?= lighten($yellow, $lighter);
$green-dark ?= darken($green, $darker);
$green-light ?= lighten($green, $lighter);
$brown-dark ?= darken($brown, $darker);
$brown-light ?= lighten($brown, $lighter);
$orange-dark ?= darken($orange, $darker);
$orange-light ?= lighten($orange, $lighter);

:root {
    --color-white: $white;
    --color-black: $black;
    --color-gray: $gray;
    --color-red: $red;
    --color-blue: $blue;
    --color-yellow: $yellow;
    --color-green: $green;
    --color-brown: $brown;
    --color-orange: $orange;

    --color-gray-dark: $gray-dark;
    --color-gray-light: $gray-light;
    --color-red-dark: $red-dark;
    --color-red-light: $red-light;
    --color-blue-dark: $blue-dark;
    --color-blue-light: $blue-light;
    --color-yellow-dark: $yellow-dark;
    --color-yellow-light: $yellow-light;
    --color-green-dark: $green-dark;
    --color-green-light: $green-light;
    --color-brown-dark: $brown-dark;
    --color-brown-light: $brown-light;
    --color-orange-dark: $orange-dark;
    --color-orange-light: $orange-light;
}