$darker ?= 20%;
$lighter ?= 20%;
$white ?= #fff;
$black ?= #000;

$gray ?= #aaa;
$red ?= #a55;
$blue ?= #77f;
$yellow ?= #ff0;
$green ?= #080;
$brown ?= brown;
$orange ?= orange;

$gray-dark ?= darken($gray, $darker);
$gray-light ?= lighten($gray, $lighter);
$red-dark ?= darken($red, $darker);
$red-light ?= lighten($red, $lighter);
$blue-dark ?= darken($blue, $darker);
$blue-light ?= lighten($blue, $lighter);
$yellow-dark ?= darken($yellow, $darker);
$yellow-light ?= lighten($yellow, $lighter);
$green-dark ?= darken($green, $darker);
$green-light ?= lighten($green, $lighter);
$brown-dark ?= darken($brown, $darker);
$brown-light ?= lighten($brown, $lighter);
$orange-dark ?= darken($orange, $darker);
$orange-light ?= lighten($orange, $lighter);
