@require "colors.styl";

/* Font Properties */
$default-font-family ?= Arial, Helvetica, sans-serif;

/* Box properties */
$default-padding ?= 12px;
$default-padding-small ?= 5px;
$default-margin ?= 0px;
$default-margin-layout ?= 0.83em;
$default-border-width ?= 0;
$default-border-radius ?= 5px;

/* Color Properties */
$default-background-color ?= $white;
$default-color ?= $black;
$default-border-color ?= $gray;
$default-foreground-background-color ?= $gray-light;
$default-header-color ?= #ddd;
$default-header-color-alt ?= $black;
$basic-color ?= $white;
$basic-color-alt ?= $black;
$widget-color ?= #ddd;
$widget-color-alt ?= $black;
$primary-color ?= $blue;
$primary-color-alt ?= $white;
$success-color ?= $green;
$success-color-alt ?= $white;
$info-color ?= $blue-light;
$info-color-alt ?= $white;
$warning-color ?= $orange;
$warning-color-alt ?= $white;
$danger-color ?= $red;
$danger-color-alt ?= $white;
$disabled-color ?= #ddd;
$disabled-color-alt ?= $gray;

/* Size Properties */
$size0 ?= 768px;
$size1 ?= 992px;
$size2 ?= 1200px;

/* Shadow Properties */
$box-shadow-height-0 ?= 0 1px 1px 0 rgba(0, 0, 0, 0.3);
$box-shadow-height-1 ?= 0 2px 10px 0 rgba(0, 0, 0, 0.3);
$box-shadow-height-2 ?= 0 0 20px 0 rgba(0, 0, 0, 0.3);
$background-color-layer-0 ?= #eee;
$background-color-layer-1 ?= #fafafa;
$background-color-layer-2 ?= #fff;

/* Animation Properties */
$default-animation-time ?= 0.2s;
$default-animation-time-slow ?= 0.5s;
