<section class="section">
    <header class="section-title">List</header>
    <div class="section-content">
        <ul class="list list-space clickable">
            <li>First</li>
            <li>Second</li>
            <li>Third</li>
            <li>Fourth</li>
            <li>Fifth</li>
        </ul>
    </div>
</section>