<section class="section">
    <header class="section-title">Pager</header>
    <div class="section-content section-content-space">
        <ul class="pager">
            <li class="pager-disabled">
                <a href="#">&lt;</a>
            </li>
            <li class="pager-active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">&gt;</a>
            </li>
        </ul>
    </div>
</section>