<section class="section">
    <header class="section-title">Table</header>
    <div class="section-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Column 0</th>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Data 0</td>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 3</td>
                </tr>
                <tr>
                    <td>Data 4</td>
                    <td>Data 5</td>
                    <td>Data 6</td>
                    <td>Data 7</td>
                </tr>
                <tr>
                    <td>Data 8</td>
                    <td>Data 9</td>
                    <td>Data 10</td>
                    <td>Data 11</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Column 0</th>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
            </tfoot>
        </table>
    </div>
</section>