<h1>Grid</h1>

<h2>Automatic Sizing</h2>
<div class="grid-sm-12 grid-space grid-example">
    <div class="row">
        <div class="col"><div class="grid-example-cell">Item 0</div></div>
        <div class="col"><div class="grid-example-cell">Item 1</div></div>
    </div>
    <div class="row">
        <div class="col"><div class="grid-example-cell">Item 0</div></div>
        <div class="col"><div class="grid-example-cell">Item 1</div></div>
        <div class="col"><div class="grid-example-cell">Item 2</div></div>
        <div class="col"><div class="grid-example-cell">Item 3</div></div>
        <div class="col"><div class="grid-example-cell">Item 4</div></div>
        <div class="col"><div class="grid-example-cell">Item 5</div></div>
    </div>
    <div class="row">
        <div class="col"><div class="grid-example-cell">Item 1</div></div>
        <div class="col"><div class="grid-example-cell">Item 2</div></div>
        <div class="col"><div class="grid-example-cell">Item 3</div></div>
        <div class="col"><div class="grid-example-cell">Item 4</div></div>
        <div class="col"><div class="grid-example-cell">Item 5</div></div>
    </div>
    <div class="row">
        <div class="col" style="--col-width: 200px;"><div class="grid-example-cell">Item 1 (200px)</div></div>
        <div class="col"><div class="grid-example-cell">Item 2</div></div>
        <div class="col"><div class="grid-example-cell">Item 3</div></div>
        <div class="col" style="--col-width: 300px;"><div class="grid-example-cell">Item 4 (300px)</div></div>
        <div class="col"><div class="grid-example-cell">Item 5</div></div>
    </div>
</div>

<h2>12 Column Sizing</h2>
<div class="grid-sm-12 grid-space grid-example">
    <div class="row">
        <div class="col-12"><div class="grid-example-cell">12 Columns</div></div>
    </div>
    <div class="row">
        <div class="col-6"><div class="grid-example-cell">6 Columns</div></div>
        <div class="col-6"><div class="grid-example-cell">6 Columns</div></div>
    </div>
    <div class="row">
        <div class="col-4"><div class="grid-example-cell">4 Columns</div></div>
        <div class="col-4"><div class="grid-example-cell">4 Columns</div></div>
        <div class="col-4"><div class="grid-example-cell">4 Columns</div></div>
    </div>
    <div class="row">
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
    </div>
    <div class="row">
        <div class="col-1 offset-1"><div class="grid-example-cell">1 Col<br /> 1 Off</div></div>
        <div class="col-3 offset-2"><div class="grid-example-cell">3 Col<br /> 2 Off</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
        <div class="col-1"><div class="grid-example-cell">1 Col</div></div>
    </div>
</div>