@import "modal-settings.less";
@modal-margin-right: (-@modal-width / 2);
.modal {
    display: block;
    position: fixed;
    z-index: @modal-z-index;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0s 0.5s, visibility 0s 0.5s;
    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
        transition: background-color 0.5s;
    }
    &.modal-open {
        transform: none;
        visibility: inherit;
        transition: transform 0s 0s, visibility 0.5s 0s;
        &:before {
            background-color: @modal-mask-background-color;
        }
    }
    .modal-scroll {
        position: fixed;
        top: -100%;
        right: 0;
        bottom: 100%;
        left: 0;
        overflow-y: auto;
        transition: top 0.5s, bottom 0.5s;
        .modal-open& {
            top: 0;
            bottom: 0;
        }
        .modal-content {
            position: absolute;
            left: 50%;
            width: @modal-width;
            min-height: @modal-min-height;
            margin: @modal-margin-top 0 @modal-margin-bottom @modal-margin-right;
            padding: @modal-padding;
            border: @modal-border-width solid @modal-border-color;
            border-radius: @modal-border-radius;
            background-color: @modal-background-color;
            box-shadow: @modal-content-box-shadow;
            &:after {
                display: table;
                clear: both;
                content: '';
            }
            .modal-header,
            .modal-footer {
                margin: -@modal-padding;
                padding: @modal-padding;
                border-bottom: @modal-border-width solid @modal-border-color;
                background-color: @modal-header-background-color;
                border-top-left-radius: @modal-border-radius;
                border-top-right-radius: @modal-border-radius;
                &:after {
                    display: table;
                    clear: both;
                    content: '';
                }
                .modal-title {
                    padding: 0;
                    margin: 0;
                    float: left;
                }
                .modal-controls {
                    float: right;
                }
            }
        }
    }
}
