@require "../settings.styl";

$calendar-width ?= 250px;
$calendar-title-spacing ?= $default-padding;
$calendar-border-radius ?= $default-border-radius;
$calendar-box-shadow ?= $box-shadow-height-0;

$calendar-day-current-background-color ?= lighten($primary-color, $lighter);
$calendar-day-current-color ?= $primary-color-alt;

$calendar-day-selected-background-color ?= $primary-color;
$calendar-day-selected-color ?= $primary-color-alt;

$calendar-day-hover-background-color ?= darken($primary-color, $darker);