@require "calendar-settings.styl";
@require "../core/mixins.styl";
.calendar {
    & > .calendar-title {
        width: 100%;
        & > .calendar-year-title {
            display: flex;
            padding: 5px;
            align-items: center
            justify-content: center;
            & > .calendar-year-down {
                padding: 0;
                margin: 0;
                //width: 1em;
                //height: 1em;
                flex-grow: 0;
            }
            & > .calendar-year-name {
                display: block;
                //padding: 2px 0 0;
                //margin: 0;
                text-align: center;
                flex-grow: 0;
            }
            & > .calendar-year-up {
                padding: 0;
                margin: 0;
                //width: 1em;
                //height: 1em;
                flex-grow: 0;
            }
        }
        & > .calendar-month-title {
            display: flex;
            padding: 5px;
            align-items: center
            justify-content: center;
            & > .calendar-month-down {
                padding: 0;
                margin: 0;
                //width: 1em;
                //height: 1em;
                flex-grow: 0;
                justify-self: start
            }
            & > .calendar-month-name {
                display: block;
                padding: 2px 0 0;
                margin: 0;
                text-align: center;
                flex-grow: 0;
            }
            & > .calendar-month-up {
                padding: 0;
                margin: 0;
                //width: 1em;
                //height: 1em;
                flex-grow: 0;
            }
        }
    }
    table {
        width: 100%;
        td {
            padding: 0;
            & > a {
                display: block;
                padding: 5px;
                text-align: end;
                cursor: pointer;
                transition: background-color 0.3s;
                &.calendar-day-selected {
                    background-color: $calendar-day-selected-background-color;
                    font-weight: bold;
                    color: $calendar-day-selected-color;
                    &:hover {
                        background-color: $calendar-day-selected-background-color;
                    }
                }
                &:hover {
                    background-color: $calendar-day-hover-background-color;
                }
            }
        }
    }
}
.input-date {
    clearfix();
    & > .input-date-control {
        clearfix();
        & > input {
            float: left;
            margin-right: 0;
            border-right: 0;
            border-radius: $calendar-border-radius 0 0 $calendar-border-radius;
        }
        & > button {
            float: left;
            margin-left: 0;
            border-radius: 0 $calendar-border-radius $calendar-border-radius 0;
        }
    }
    & > .input-date-popup {
        position: relative;
        float: left;
        width: $calendar-width + 20px;
        & > .input-date-expander {
            position: absolute;
            padding: 5px;
            margin: 5px;
            overflow: hidden;
            right: 0;
            border-radius: $calendar-border-radius $calendar-border-radius $calendar-border-radius $calendar-border-radius;
            background: #fff;
            box-shadow: $calendar-box-shadow;
            .calendar, 
            .build-widget-calendar-Calendar {
                width: $calendar-width;
            }
        }
    }
}
.input-date {
    &.input-date-inline {
        & > .input-date-control {
            float: left;
            @media only screen and (max-width: ($size0 - 1)) {
                float: none;
            }
        }
        & > .input-date-popup {
            & > .input-date-expander {
                right: auto;
                @media only screen and (max-width: ($size0 - 1)) {
                    right: 0;
                }
            }
        }
    }
}
