@import "../settings.less";
//@import "../mixins.less";

@input-padding: @default-padding;
@input-margin: @default-margin;
@input-border-width: @default-border-width;
@input-border-radius: @default-border-radius;
@input-box-shadow-height0: 0px 1px 5px 0px #333;
@input-box-shadow-height1: 0px 2px 10px -1px #333;

@input-default-background-color: @widget-color;
@input-default-color: @widget-color-alt;
@input-default-border-color: @default-border-color;

@input-primary-background-color: @primary-color;
@input-primary-color: @primary-color-alt;
@input-primary-border-color: darken(@primary-color, @darker);

@input-danger-background-color: @danger-color;
@input-danger-color: @danger-color-alt;
@input-danger-border-color: darken(@danger-color, @darker);

@input-selected-background-color: darken(@widget-color, @darker);
@input-selected-color: @widget-color-alt;
@input-selected-border-color: darken(@default-border-color, @darker);

@input-default-border-color-focus: darken(@default-border-color, @darker);

@input-focus-box-shadow: 0px 0px 6px 0px #003;
